<o-form-layout-manager attr="TaskComment" mode="tab" title="TASKCOMMENT">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="TaskCommentTable" 
            service="TaskComment" 
            entity="TaskComment" 
            title="TASKCOMMENT"
            keys="CommentId"
            columns="CommentId;CommentType;ProcessInstanceId;TaskInstanceId;CommentText;Author;CreatedDate;IsVisible" 
            header-actions="R;D"
            visible-columns="CommentId;CommentType;ProcessInstanceId;TaskInstanceId;CommentText;Author;CreatedDate;IsVisible"  
            sort-columns="CommentId" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #CommentId attr="CommentId" title=" Comment Id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column #CommentType attr="CommentType" title="CommentType" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column attr="ProcessInstanceId" title="ProcessInstance">
    <o-table-cell-renderer-service attr="ProcessInstanceId" 
        service="ProcessInstance" entity="ProcessInstanceType" columns="InstanceId;InstanceId"
        parent-keys="CommentId:ProcessInstanceId"
        value-column="InstanceId" keys="ProcessInstanceId"
        visible-columns="InstanceId" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column attr="TaskInstanceId" title="TaskInstance">
    <o-table-cell-renderer-service attr="TaskInstanceId" 
        service="TaskInstance" entity="TaskInstanceType" columns="TaskInstanceId;TaskInstanceId"
        parent-keys="CommentId:TaskInstanceId"
        value-column="TaskInstanceId" keys="TaskInstanceId"
        visible-columns="TaskInstanceId" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column #CommentText attr="CommentText" title="CommentText" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column #Author attr="Author" title="Author" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column #CreatedDate attr="CreatedDate" title="CreatedDate" type="DATETIME2" editable="no" required="yes" ></o-table-column>
            
            <o-table-column attr="IsVisible" title="IsVisible">
    <o-table-cell-renderer-boolean render-true-value="check_circle" render-false-value="highlight_off"
        render-type="icon" boolean-type="boolean" true-value="true" false-value="false"></o-table-cell-renderer-boolean>
</o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>