<div class="container">
<o-form-container breadcrumb="yes" breadcrumb-label-columns="PriorityDescription" breadcrumb-separator=", " class="fill-form">
      <o-form #form attr="WFPriority_form_edit" 
        service="WFPriority" 
        entity="WFPriority" 
        fxLayout="column" 
        show-header="yes" 
        header-actions="R;U;D"
        #oDetailForm keys="PriorityCode" 
        keys-sql-types="VARCHAR" 
        show-header-navigation="yes"
        (onDataLoaded)="onDataLoaded($event)">

  <o-row attr="row1" layout-align="start stretch">
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
      
      <o-text-input #PriorityDescription attr="PriorityDescription" label=" Priority Description" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #PriorityCode attr="PriorityCode" label="PriorityCode" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
    </div>
  </o-row>
      
      <mat-tab-group fxFill>
        
        <mat-tab label="WFAPPLICATION-Priority">
    <div layout-padding>
      <o-table 
        attr="WFApplicationTable" 
        service="WFApplication" 
        entity="WFApplication" 
        keys="ApplicationID"
        parent-keys="Priority:PriorityCode"
        columns="ApplicationID;Priority;Status;WFDashboardID;ApplicationNumber;SubmissionDate;AssignedTo;AssignedBy;AssignedDate;CreatedDate;CreatedBy;ModifiedDate;ModifiedBy;CompanyID;PlantID"  
        horizontal-scroll="yes"
        detail-form-route="WFApplication" 
        edit-form-route="WFApplication"
        visible-columns="ApplicationID;Priority;Status;WFDashboardID;ApplicationNumber;SubmissionDate;AssignedTo;AssignedBy;AssignedDate;CreatedDate;CreatedBy;ModifiedDate;ModifiedBy;CompanyID;PlantID"  
        sort-columns="ApplicationID" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #ApplicationID attr="ApplicationID" title=" Application I D" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column #Priority attr="Priority" title="Priority" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #Status attr="Status" title="Status" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column attr="WFDashboardID" title="WFDashboardID">
    <o-table-cell-renderer-service attr="WFDashboardID" 
        service="WFDashboard" entity="WFDashboardType" columns="ID;ID"
        parent-keys="PriorityCode:WFDashboardID"
        value-column="ID" keys="WFDashboardID"
        visible-columns="ID" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #ApplicationNumber attr="ApplicationNumber" title="ApplicationNumber" type="integer" editable="no" required="yes" content-align="center"></o-table-column>
        
          <o-table-column #SubmissionDate attr="SubmissionDate" title="SubmissionDate" type="DATE" editable="no" required="yes" ></o-table-column>
        
          <o-table-column #AssignedTo attr="AssignedTo" title="AssignedTo" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #AssignedBy attr="AssignedBy" title="AssignedBy" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #AssignedDate attr="AssignedDate" title="AssignedDate" type="DATETIME2" editable="no" required="no" ></o-table-column>
        
          <o-table-column #CreatedDate attr="CreatedDate" title="CreatedDate" type="DATETIME2" editable="no" required="yes" ></o-table-column>
        
          <o-table-column #CreatedBy attr="CreatedBy" title="CreatedBy" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column #ModifiedDate attr="ModifiedDate" title="ModifiedDate" type="DATETIME2" editable="no" required="no" ></o-table-column>
        
          <o-table-column #ModifiedBy attr="ModifiedBy" title="ModifiedBy" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #CompanyID attr="CompanyID" title="CompanyID" type="integer" editable="no" required="yes" content-align="center"></o-table-column>
        
          <o-table-column #PlantID attr="PlantID" title="PlantID" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
      </mat-tab-group>
      
    </o-form>
  </o-form-container>
</div>