<div class="container">
<o-form-container breadcrumb="yes" breadcrumb-label-columns="StageInstanceId" breadcrumb-separator=", " class="fill-form">
      <o-form #form attr="StageInstance_form_edit" 
        service="StageInstance" 
        entity="StageInstance" 
        fxLayout="column" 
        show-header="yes" 
        header-actions="R;U;D"
        #oDetailForm keys="StageInstanceId" 
        keys-sql-types="INTEGER" 
        show-header-navigation="yes"
        (onDataLoaded)="onDataLoaded($event)">

  <o-row attr="row1" layout-align="start stretch">
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
      
      <o-integer-input #StageInstanceId attr="StageInstanceId" label=" Stage Instance Id" type="integer" editable="no" required="no" ></o-integer-input>
      
      <o-list-picker 
        attr="LaneId"
        service="LaneDefinition" 
        entity="LaneDefinitionType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="yes" 
        enabled="yes" 
        filter="yes"
        value-column="LaneId" 
        value-column-type="INTEGER"  
        keys="LaneId" 
        columns="LaneId;LaneId;LaneName" 
        title="Lane"
        visible-columns="LaneId;LaneName" 
        separator=" - " width="680px" class="form-field">
</o-list-picker>
      
      <o-list-picker 
        attr="ProcessInstanceId"
        service="ProcessInstance" 
        entity="ProcessInstanceType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="yes" 
        enabled="yes" 
        filter="yes"
        value-column="InstanceId" 
        value-column-type="INTEGER"  
        keys="InstanceId" 
        columns="InstanceId;ProcessInstanceId;InstanceId" 
        title="ProcessInstance"
        visible-columns="InstanceId;InstanceId" 
        separator=" - " width="680px" class="form-field">
</o-list-picker>
      
      <o-list-picker 
        attr="Status"
        service="StageStatus" 
        entity="StageStatusType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="yes" 
        enabled="yes" 
        filter="yes"
        value-column="StatusCode" 
        value-column-type="VARCHAR"  
        keys="StatusCode" 
        columns="StatusCode;Status;StatusDescription" 
        title="Status"
        visible-columns="StatusCode;StatusDescription" 
        separator=" - " width="680px" class="form-field">
</o-list-picker>
      
      <o-date-input #StartedDate attr="StartedDate" value-type="string" label="StartedDate" editable="no" required="no" format="YYYY-MM-DD hh:mm:ss" fxFlex="20%" class="form-field"></o-date-input>
      
      <o-date-input #CompletedDate attr="CompletedDate" value-type="string" label="CompletedDate" editable="no" required="no" format="YYYY-MM-DD hh:mm:ss" fxFlex="20%" class="form-field"></o-date-input>
      
      <o-integer-input #DurationDays attr="DurationDays" label="DurationDays" type="integer" editable="no" required="no" ></o-integer-input>
      
      <o-integer-input #RetryCount attr="RetryCount" label="RetryCount" type="integer" editable="no" required="no" ></o-integer-input>
      
      <o-text-input #AssignedTo attr="AssignedTo" label="AssignedTo" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #AssignedBy attr="AssignedBy" label="AssignedBy" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-date-input #AssignedDate attr="AssignedDate" value-type="string" label="AssignedDate" editable="no" required="no" format="YYYY-MM-DD hh:mm:ss" fxFlex="20%" class="form-field"></o-date-input>
      
      <o-integer-input #CompletedCount attr="CompletedCount" label="CompletedCount" type="integer" editable="no" required="no" ></o-integer-input>
      
      <o-integer-input #TotalCount attr="TotalCount" label="TotalCount" type="integer" editable="no" required="no" ></o-integer-input>
      
      <o-date-input #CreatedDate attr="CreatedDate" value-type="string" label="CreatedDate" editable="no" required="yes" format="YYYY-MM-DD hh:mm:ss" fxFlex="20%" class="form-field"></o-date-input>
      
      <o-text-input #CreatedBy attr="CreatedBy" label="CreatedBy" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-date-input #ModifiedDate attr="ModifiedDate" value-type="string" label="ModifiedDate" editable="no" required="no" format="YYYY-MM-DD hh:mm:ss" fxFlex="20%" class="form-field"></o-date-input>
      
      <o-text-input #ModifiedBy attr="ModifiedBy" label="ModifiedBy" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
    </div>
  </o-row>
      
      <mat-tab-group fxFill>
        
        <mat-tab label="TASKINSTANCE-StageId">
    <div layout-padding>
      <o-table 
        attr="TaskInstanceTable" 
        service="TaskInstance" 
        entity="TaskInstance" 
        keys="TaskInstanceId"
        parent-keys="StageId:StageInstanceId"
        columns="TaskInstanceId;StageId;Status;TaskId;AssignedTo;StartedDate;CompletedDate;DurationMinutes;Result;ResultData;ErrorMessage;RetryCount"  
        horizontal-scroll="yes"
        detail-form-route="TaskInstance" 
        edit-form-route="TaskInstance"
        visible-columns="TaskInstanceId;StageId;Status;TaskId;AssignedTo;StartedDate;CompletedDate;DurationMinutes;Result;ResultData;ErrorMessage;RetryCount"  
        sort-columns="TaskInstanceId" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #TaskInstanceId attr="TaskInstanceId" title=" Task Instance Id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="StageId" title="Stage">
    <o-table-cell-renderer-service attr="StageId" 
        service="StageInstance" entity="StageInstanceType" columns="StageInstanceId;StageInstanceId"
        parent-keys="StageInstanceId:StageId"
        value-column="StageInstanceId" keys="StageId"
        visible-columns="StageInstanceId" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #Status attr="Status" title="Status" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column attr="TaskId" title="Task">
    <o-table-cell-renderer-service attr="TaskId" 
        service="TaskDefinition" entity="TaskDefinitionType" columns="TaskId;TaskName"
        parent-keys="StageInstanceId:TaskId"
        value-column="TaskName" keys="TaskId"
        visible-columns="TaskName" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #AssignedTo attr="AssignedTo" title="AssignedTo" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #StartedDate attr="StartedDate" title="StartedDate" type="DATETIME2" editable="no" required="no" ></o-table-column>
        
          <o-table-column #CompletedDate attr="CompletedDate" title="CompletedDate" type="DATETIME2" editable="no" required="no" ></o-table-column>
        
          <o-table-column #DurationMinutes attr="DurationMinutes" title="DurationMinutes" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column #Result attr="Result" title="Result" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #ResultData attr="ResultData" title="ResultData" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #ErrorMessage attr="ErrorMessage" title="ErrorMessage" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #RetryCount attr="RetryCount" title="RetryCount" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
      </mat-tab-group>
      
    </o-form>
  </o-form-container>
</div>