<div class="container">
<o-form-container breadcrumb="yes" breadcrumb-label-columns="StatusDescription" breadcrumb-separator=", " class="fill-form">
      <o-form #form attr="StageStatus_form_edit" 
        service="StageStatus" 
        entity="StageStatus" 
        fxLayout="column" 
        show-header="yes" 
        header-actions="R;U;D"
        #oDetailForm keys="StatusCode" 
        keys-sql-types="VARCHAR" 
        show-header-navigation="yes"
        (onDataLoaded)="onDataLoaded($event)">

  <o-row attr="row1" layout-align="start stretch">
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
      
      <o-text-input #StatusDescription attr="StatusDescription" label=" Status Description" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #StatusCode attr="StatusCode" label="StatusCode" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
    </div>
  </o-row>
      
    </o-form>
  </o-form-container>
</div>