.DS_Store
/build/
/dist/
**/__pycache__
*.egg-info
venv/
test/api_logic_server_behave/scenario_logic_logs/
devops/docker-compose-dev-local-nginx/www
devops/docker-compose-dev-azure-nginx/www
/ui/react_app/node_modules
/ui/react_app/build
/ui/react_app/
/docs/
*.log