# this includes the key libraries (Flask, SQLAlchemy, SAFRS), and the API Logic Server CLI

ApiLogicServer
cryptography>=3.4.0
python-jose[cryptography]>=3.3.0
boto3 
PyJWT 
msal
schedule>=1.2.0
pyodbc>=4.0.0
pandas
openpyxl
xlrd

# Vector Store / Embeddings
pgvector
psycopg2-binary
langchain_postgres
langchain_community
#Installing collected packages: zstandard, uuid-utils, tenacity, requests, python-dotenv, propcache, orjson, mypy-extensions, multidict, marshmallow, jsonpointer, httpx-sse, frozenlist, attrs, aiohappyeyeballs, yarl, typing-inspect, requests-toolbelt, jsonpatch, aiosignal, pydantic-settings, langsmith, dataclasses-json, aiohttp, langchain-core, langchain-text-splitters, langchain-classic, langchain_community
sentence-transformers>=2.2.2
#Installing collected packages: tokenizers, safetensors, transformers, sentence-transformers
#Successfully installed safetensors-0.4.3 sentence-transformers
langchain-huggingface
langchain
#Installing collected packages: xxhash, ormsgpack, langgraph-sdk, langgraph-checkpoint, langgraph-prebuilt, langgraph, langchain