<div class="container">
<o-form-container breadcrumb="yes" breadcrumb-label-columns="InstanceId" breadcrumb-separator=", " class="fill-form">
      <o-form #form attr="ProcessInstance_form_edit" 
        service="ProcessInstance" 
        entity="ProcessInstance" 
        fxLayout="column" 
        show-header="yes" 
        header-actions="R;U;D"
        #oDetailForm keys="InstanceId" 
        keys-sql-types="INTEGER" 
        show-header-navigation="yes"
        (onDataLoaded)="onDataLoaded($event)">

  <o-row attr="row1" layout-align="start stretch">
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
      
      <o-integer-input #InstanceId attr="InstanceId" label=" Instance Id" type="integer" editable="no" required="no" ></o-integer-input>
      
      <o-list-picker 
        attr="CurrentTaskId"
        service="TaskDefinition" 
        entity="TaskDefinitionType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="no" 
        enabled="yes" 
        filter="yes"
        value-column="TaskId" 
        value-column-type="INTEGER"  
        keys="TaskId" 
        columns="TaskId;CurrentTaskId;TaskName" 
        title="CurrentTask"
        visible-columns="TaskId;TaskName" 
        separator=" - " width="680px" class="form-field">
</o-list-picker>
      
      <o-list-picker 
        attr="Priority"
        service="ProcessPriority" 
        entity="ProcessPriorityType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="no" 
        enabled="yes" 
        filter="yes"
        value-column="PriorityCode" 
        value-column-type="VARCHAR"  
        keys="PriorityCode" 
        columns="PriorityCode;Priority;PriorityDescription" 
        title="Priority"
        visible-columns="PriorityCode;PriorityDescription" 
        separator=" - " width="680px" class="form-field">
</o-list-picker>
      
      <o-list-picker 
        attr="ProcessId"
        service="ProcessDefinition" 
        entity="ProcessDefinitionType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="yes" 
        enabled="yes" 
        filter="yes"
        value-column="ProcessId" 
        value-column-type="INTEGER"  
        keys="ProcessId" 
        columns="ProcessId;ProcessId;ProcessName" 
        title="Process"
        visible-columns="ProcessId;ProcessName" 
        separator=" - " width="680px" class="form-field">
</o-list-picker>
      
      <o-list-picker 
        attr="Status"
        service="ProcessStatus" 
        entity="ProcessStatusType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="yes" 
        enabled="yes" 
        filter="yes"
        value-column="StatusCode" 
        value-column-type="VARCHAR"  
        keys="StatusCode" 
        columns="StatusCode;Status;StatusDescription" 
        title="Status"
        visible-columns="StatusCode;StatusDescription" 
        separator=" - " width="680px" class="form-field">
</o-list-picker>
      
      <o-date-input #StartedDate attr="StartedDate" value-type="string" label="StartedDate" editable="no" required="yes" format="YYYY-MM-DD hh:mm:ss" fxFlex="20%" class="form-field"></o-date-input>
      
      <o-text-input #StartedBy attr="StartedBy" label="StartedBy" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-date-input #CompletedDate attr="CompletedDate" value-type="string" label="CompletedDate" editable="no" required="no" format="YYYY-MM-DD hh:mm:ss" fxFlex="20%" class="form-field"></o-date-input>
      
      <o-text-input #CompletedBy attr="CompletedBy" label="CompletedBy" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #ContextData attr="ContextData" label="ContextData" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-integer-input #ApplicationId attr="ApplicationId" label="ApplicationId" type="integer" editable="no" required="yes" ></o-integer-input>
      
    </div>
  </o-row>
      
      <mat-tab-group fxFill>
        
        <mat-tab label="PROCESSMESSAGE-InstanceId">
    <div layout-padding>
      <o-table 
        attr="ProcessMessageTable" 
        service="ProcessMessage" 
        entity="ProcessMessage" 
        keys="MessageId"
        parent-keys="InstanceId:InstanceId"
        columns="MessageId;InstanceId;MessageType;FromUser;ToUser;ToRole;Subject;MessageBody;SentDate;ReadDate;IsRead"  
        horizontal-scroll="yes"
        detail-form-route="ProcessMessage" 
        edit-form-route="ProcessMessage"
        visible-columns="MessageId;InstanceId;MessageType;FromUser;ToUser;ToRole;Subject;MessageBody;SentDate;ReadDate;IsRead"  
        sort-columns="MessageId" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #MessageId attr="MessageId" title=" Message Id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="InstanceId" title="Instance">
    <o-table-cell-renderer-service attr="InstanceId" 
        service="ProcessInstance" entity="ProcessInstanceType" columns="InstanceId;InstanceId"
        parent-keys="InstanceId:InstanceId"
        value-column="InstanceId" keys="InstanceId"
        visible-columns="InstanceId" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #MessageType attr="MessageType" title="MessageType" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #FromUser attr="FromUser" title="FromUser" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column #ToUser attr="ToUser" title="ToUser" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #ToRole attr="ToRole" title="ToRole" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #Subject attr="Subject" title="Subject" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #MessageBody attr="MessageBody" title="MessageBody" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column #SentDate attr="SentDate" title="SentDate" type="DATETIME2" editable="no" required="yes" ></o-table-column>
        
          <o-table-column #ReadDate attr="ReadDate" title="ReadDate" type="DATETIME2" editable="no" required="no" ></o-table-column>
        
          <o-table-column attr="IsRead" title="IsRead">
    <o-table-cell-renderer-boolean render-true-value="check_circle" render-false-value="highlight_off"
        render-type="icon" boolean-type="boolean" true-value="true" false-value="false"></o-table-cell-renderer-boolean>
</o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
        <mat-tab label="STAGEINSTANCE-ProcessInstanceId">
    <div layout-padding>
      <o-table 
        attr="StageInstanceTable" 
        service="StageInstance" 
        entity="StageInstance" 
        keys="StageInstanceId"
        parent-keys="ProcessInstanceId:InstanceId"
        columns="StageInstanceId;LaneId;ProcessInstanceId;Status;StartedDate;CompletedDate;DurationDays;RetryCount;AssignedTo;AssignedBy;AssignedDate;CompletedCount;TotalCount;CreatedDate;CreatedBy;ModifiedDate;ModifiedBy"  
        horizontal-scroll="yes"
        detail-form-route="StageInstance" 
        edit-form-route="StageInstance"
        visible-columns="StageInstanceId;LaneId;ProcessInstanceId;Status;StartedDate;CompletedDate;DurationDays;RetryCount;AssignedTo;AssignedBy;AssignedDate;CompletedCount;TotalCount;CreatedDate;CreatedBy;ModifiedDate;ModifiedBy"  
        sort-columns="StageInstanceId" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #StageInstanceId attr="StageInstanceId" title=" Stage Instance Id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="LaneId" title="Lane">
    <o-table-cell-renderer-service attr="LaneId" 
        service="LaneDefinition" entity="LaneDefinitionType" columns="LaneId;LaneName"
        parent-keys="InstanceId:LaneId"
        value-column="LaneName" keys="LaneId"
        visible-columns="LaneName" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="ProcessInstanceId" title="ProcessInstance">
    <o-table-cell-renderer-service attr="ProcessInstanceId" 
        service="ProcessInstance" entity="ProcessInstanceType" columns="InstanceId;InstanceId"
        parent-keys="InstanceId:ProcessInstanceId"
        value-column="InstanceId" keys="ProcessInstanceId"
        visible-columns="InstanceId" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #Status attr="Status" title="Status" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column #StartedDate attr="StartedDate" title="StartedDate" type="DATETIME2" editable="no" required="no" ></o-table-column>
        
          <o-table-column #CompletedDate attr="CompletedDate" title="CompletedDate" type="DATETIME2" editable="no" required="no" ></o-table-column>
        
          <o-table-column #DurationDays attr="DurationDays" title="DurationDays" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column #RetryCount attr="RetryCount" title="RetryCount" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column #AssignedTo attr="AssignedTo" title="AssignedTo" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #AssignedBy attr="AssignedBy" title="AssignedBy" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #AssignedDate attr="AssignedDate" title="AssignedDate" type="DATETIME2" editable="no" required="no" ></o-table-column>
        
          <o-table-column #CompletedCount attr="CompletedCount" title="CompletedCount" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column #TotalCount attr="TotalCount" title="TotalCount" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column #CreatedDate attr="CreatedDate" title="CreatedDate" type="DATETIME2" editable="no" required="yes" ></o-table-column>
        
          <o-table-column #CreatedBy attr="CreatedBy" title="CreatedBy" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column #ModifiedDate attr="ModifiedDate" title="ModifiedDate" type="DATETIME2" editable="no" required="no" ></o-table-column>
        
          <o-table-column #ModifiedBy attr="ModifiedBy" title="ModifiedBy" editable="no" required="no" content-align="left"></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
        <mat-tab label="WORKFLOWHISTORY-InstanceId">
    <div layout-padding>
      <o-table 
        attr="WorkflowHistoryTable" 
        service="WorkflowHistory" 
        entity="WorkflowHistory" 
        keys="HistoryId"
        parent-keys="InstanceId:InstanceId"
        columns="HistoryId;InstanceId;TaskInstanceId;Action;PreviousStatus;NewStatus;ActionBy;ActionDate;ActionReason;Details"  
        horizontal-scroll="yes"
        detail-form-route="WorkflowHistory" 
        edit-form-route="WorkflowHistory"
        visible-columns="HistoryId;InstanceId;TaskInstanceId;Action;PreviousStatus;NewStatus;ActionBy;ActionDate;ActionReason;Details"  
        sort-columns="HistoryId" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #HistoryId attr="HistoryId" title=" History Id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="InstanceId" title="Instance">
    <o-table-cell-renderer-service attr="InstanceId" 
        service="ProcessInstance" entity="ProcessInstanceType" columns="InstanceId;InstanceId"
        parent-keys="InstanceId:InstanceId"
        value-column="InstanceId" keys="InstanceId"
        visible-columns="InstanceId" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="TaskInstanceId" title="TaskInstance">
    <o-table-cell-renderer-service attr="TaskInstanceId" 
        service="TaskInstance" entity="TaskInstanceType" columns="TaskInstanceId;TaskInstanceId"
        parent-keys="InstanceId:TaskInstanceId"
        value-column="TaskInstanceId" keys="TaskInstanceId"
        visible-columns="TaskInstanceId" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #Action attr="Action" title="Action" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column #PreviousStatus attr="PreviousStatus" title="PreviousStatus" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #NewStatus attr="NewStatus" title="NewStatus" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #ActionBy attr="ActionBy" title="ActionBy" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column #ActionDate attr="ActionDate" title="ActionDate" type="DATETIME2" editable="no" required="yes" ></o-table-column>
        
          <o-table-column #ActionReason attr="ActionReason" title="ActionReason" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #Details attr="Details" title="Details" editable="no" required="no" content-align="left"></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
      </mat-tab-group>
      
    </o-form>
  </o-form-container>
</div>