<div class="container">
<o-form-container breadcrumb="yes" breadcrumb-label-columns="UserRole" breadcrumb-separator=", " class="fill-form">
      <o-form #form attr="WFRole_form_edit" 
        service="WFRole" 
        entity="WFRole" 
        fxLayout="column" 
        show-header="yes" 
        header-actions="R;U;D"
        #oDetailForm keys="UserRole" 
        keys-sql-types="VARCHAR" 
        show-header-navigation="yes"
        (onDataLoaded)="onDataLoaded($event)">

  <o-row attr="row1" layout-align="start stretch">
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
      
      <o-text-input #UserRole attr="UserRole" label=" User Role" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #Role attr="Role" label="Role" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-date-input #CreatedDate attr="CreatedDate" value-type="string" label="CreatedDate" editable="no" required="yes" format="YYYY-MM-DD hh:mm:ss" fxFlex="20%" class="form-field"></o-date-input>
      
    </div>
  </o-row>
      
      <mat-tab-group fxFill>
        
        <mat-tab label="ROLEASSIGMENT-Role">
    <div layout-padding>
      <o-table 
        attr="RoleAssigmentTable" 
        service="RoleAssigment" 
        entity="RoleAssigment" 
        keys="RoleAssigmentID"
        parent-keys="Role:UserRole"
        columns="RoleAssigmentID;ApplicationId;Assignee;Role;CreatedDate;CreatedBy"  
        horizontal-scroll="yes"
        detail-form-route="RoleAssigment" 
        edit-form-route="RoleAssigment"
        visible-columns="RoleAssigmentID;ApplicationId;Assignee;Role;CreatedDate;CreatedBy"  
        sort-columns="RoleAssigmentID" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #RoleAssigmentID attr="RoleAssigmentID" title=" Role Assigment I D" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="ApplicationId" title="Application">
    <o-table-cell-renderer-service attr="ApplicationId" 
        service="WFApplication" entity="WFApplicationType" columns="ApplicationID;ApplicationID"
        parent-keys="UserRole:ApplicationId"
        value-column="ApplicationID" keys="ApplicationId"
        visible-columns="ApplicationID" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #Assignee attr="Assignee" title="Assignee" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column #Role attr="Role" title="Role" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column #CreatedDate attr="CreatedDate" title="CreatedDate" type="DATETIME2" editable="no" required="yes" ></o-table-column>
        
          <o-table-column #CreatedBy attr="CreatedBy" title="CreatedBy" editable="no" required="yes" content-align="left"></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
        <mat-tab label="WFUSERROLE-UserRole">
    <div layout-padding>
      <o-table 
        attr="WFUSERROLETable" 
        service="WFUSERROLE" 
        entity="WFUSERROLE" 
        keys="UserName;UserRole"
        parent-keys="UserRole:UserRole"
        columns="UserName;UserRole;CreatedDate"  
        horizontal-scroll="yes"
        detail-form-route="WFUSERROLE" 
        edit-form-route="WFUSERROLE"
        visible-columns="UserName;UserRole;CreatedDate"  
        sort-columns="UserName" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #UserName attr="UserName" title=" User Name" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column #UserRole attr="UserRole" title="UserRole" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column #CreatedDate attr="CreatedDate" title="CreatedDate" type="DATETIME2" editable="no" required="yes" ></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
      </mat-tab-group>
      
    </o-form>
  </o-form-container>
</div>