<o-form #ProcessInstanceForm attr="ProcessInstance_form_insert" service="ProcessInstance" entity="ProcessInstance"
keys="InstanceId" fxLayout="column" show-header="yes" header-actions="I"
horizontal-scroll="yes"
after-insert-mode="new" class="standalone-form-container" >

<o-row attr="row1" layout-align="start stretch">
  <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
    
        <o-integer-input #InstanceId attr="InstanceId" label=" Instance Id" type="integer" editable="no" required="no" ></o-integer-input>
      
        <o-list-picker 
        attr="CurrentTaskId"
        service="TaskDefinition" 
        entity="TaskDefinitionType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="no" 
        enabled="yes" 
        filter="yes"
        value-column="TaskId" 
        value-column-type="INTEGER"  
        keys="TaskId" 
        columns="TaskId;CurrentTaskId;TaskName" 
        title="CurrentTask"
        visible-columns="TaskId;TaskName" 
        separator=" - " width="680px" class="form-field">
</o-list-picker>
      
        <o-list-picker 
        attr="Priority"
        service="ProcessPriority" 
        entity="ProcessPriorityType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="no" 
        enabled="yes" 
        filter="yes"
        value-column="PriorityCode" 
        value-column-type="VARCHAR"  
        keys="PriorityCode" 
        columns="PriorityCode;Priority;PriorityDescription" 
        title="Priority"
        visible-columns="PriorityCode;PriorityDescription" 
        separator=" - " width="680px" class="form-field">
</o-list-picker>
      
        <o-list-picker 
        attr="ProcessId"
        service="ProcessDefinition" 
        entity="ProcessDefinitionType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="yes" 
        enabled="yes" 
        filter="yes"
        value-column="ProcessId" 
        value-column-type="INTEGER"  
        keys="ProcessId" 
        columns="ProcessId;ProcessId;ProcessName" 
        title="Process"
        visible-columns="ProcessId;ProcessName" 
        separator=" - " width="680px" class="form-field">
</o-list-picker>
      
        <o-list-picker 
        attr="Status"
        service="ProcessStatus" 
        entity="ProcessStatusType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="yes" 
        enabled="yes" 
        filter="yes"
        value-column="StatusCode" 
        value-column-type="VARCHAR"  
        keys="StatusCode" 
        columns="StatusCode;Status;StatusDescription" 
        title="Status"
        visible-columns="StatusCode;StatusDescription" 
        separator=" - " width="680px" class="form-field">
</o-list-picker>
      
        <o-date-input #StartedDate attr="StartedDate" value-type="string" label="StartedDate" editable="no" required="yes" format="YYYY-MM-DD hh:mm:ss" fxFlex="20%" class="form-field"></o-date-input>
      
        <o-text-input #StartedBy attr="StartedBy" label="StartedBy" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-date-input #CompletedDate attr="CompletedDate" value-type="string" label="CompletedDate" editable="no" required="no" format="YYYY-MM-DD hh:mm:ss" fxFlex="20%" class="form-field"></o-date-input>
      
        <o-text-input #CompletedBy attr="CompletedBy" label="CompletedBy" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #ContextData attr="ContextData" label="ContextData" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-integer-input #ApplicationId attr="ApplicationId" label="ApplicationId" type="integer" editable="no" required="yes" ></o-integer-input>
      
</div>
</o-row>

<div layout-padding></div>

</o-form>