<o-form #PRIVATELABELBILLForm attr="PRIVATELABELBILL_form_insert" service="PRIVATELABELBILL" entity="PRIVATELABELBILL"
keys="ID" fxLayout="column" show-header="yes" header-actions="I"
horizontal-scroll="yes"
after-insert-mode="new" class="standalone-form-container" >

<o-row attr="row1" layout-align="start stretch">
  <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
    
        <o-integer-input #ID attr="ID" label=" I D" type="integer" editable="no" required="no" ></o-integer-input>
      
        <!-- o-list-picker 
        attr="BILL_TO_CO_ID"
        service="COMPANYTB" 
        entity="COMPANYTBType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="no" 
        enabled="yes" 
        filter="yes"
        value-column="COMPANY_ID" 
        value-column-type="INTEGER"  
        keys="COMPANY_ID" 
        columns="COMPANY_ID;BILL_TO_CO_ID;NAME" 
        title="BILL_TO_CO_ID"
        visible-columns="COMPANY_ID;NAME" 
        separator=" - " width="680px" class="form-field">
</o-list-picker -->
      
        <!-- o-list-picker 
        attr="BILL_TO_PLANT_ID"
        service="PLANTTB" 
        entity="PLANTTBType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="no" 
        enabled="yes" 
        filter="yes"
        value-column="PLANT_ID" 
        value-column-type="INTEGER"  
        keys="PLANT_ID" 
        columns="PLANT_ID;BILL_TO_PLANT_ID;NAME" 
        title="BILL_TO_PLANT_ID"
        visible-columns="PLANT_ID;NAME" 
        separator=" - " width="680px" class="form-field">
</o-list-picker -->
      
        <!-- o-list-picker 
        attr="COMPANY_ID"
        service="COMPANYTB" 
        entity="COMPANYTBType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="yes" 
        enabled="yes" 
        filter="yes"
        value-column="COMPANY_ID" 
        value-column-type="INTEGER"  
        keys="COMPANY_ID" 
        columns="COMPANY_ID;COMPANY_ID;NAME" 
        title="COMPANY_ID"
        visible-columns="COMPANY_ID;NAME" 
        separator=" - " width="680px" class="form-field">
</o-list-picker -->
      
        <!-- o-list-picker 
        attr="SRC_MAR_ID"
        service="COMPANYTB" 
        entity="COMPANYTBType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="yes" 
        enabled="yes" 
        filter="yes"
        value-column="COMPANY_ID" 
        value-column-type="INTEGER"  
        keys="COMPANY_ID" 
        columns="COMPANY_ID;SRC_MAR_ID;NAME" 
        title="SRC_MAR_ID"
        visible-columns="COMPANY_ID;NAME" 
        separator=" - " width="680px" class="form-field">
</o-list-picker -->
      
        <o-date-input #DATE_UPDATE attr="DATE_UPDATE" value-type="string" label="DATE_UPDATE" editable="no" required="no" format="YYYY-MM-DD hh:mm:ss" fxFlex="20%" class="form-field"></o-date-input>
      
        <o-text-input #PRIV_LABEL_FEE attr="PRIV_LABEL_FEE" label="PRIV_LABEL_FEE" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-textarea-input #TIMESTAMP attr="TIMESTAMP"  label="TIMESTAMP" enabled="true" read-only="false" fxFlex="50%"></o-textarea-input>
      
        <o-date-input #AGREEMENT_RECEIVED_DATE attr="AGREEMENT_RECEIVED_DATE" value-type="string" label="AGREEMENT_RECEIVED_DATE" editable="no" required="no" format="YYYY-MM-DD hh:mm:ss" fxFlex="20%" class="form-field"></o-date-input>
      
        <o-text-input #ValidFromTime attr="ValidFromTime" label="ValidFromTime" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #ValidToTime attr="ValidToTime" label="ValidToTime" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-checkbox #MAN_ENTERED attr="MAN_ENTERED" label="MAN_ENTERED" read-only="no" enabled="yes"></o-checkbox>
      
        <o-text-input #PRO_RATED attr="PRO_RATED" label="PRO_RATED" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-date-input #LAST_BIILED attr="LAST_BIILED" value-type="string" label="LAST_BIILED" editable="no" required="no" format="YYYY-MM-DD hh:mm:ss" fxFlex="20%" class="form-field"></o-date-input>
      
        <o-integer-input #CHANGESET_ID attr="CHANGESET_ID" label="CHANGESET_ID" type="integer" editable="no" required="no" ></o-integer-input>
      
</div>
</o-row>

<div layout-padding></div>

</o-form>