<o-form #WFQuoteForm attr="WFQuote_form_insert" service="WFQuote" entity="WFQuote"
keys="QuoteID" fxLayout="column" show-header="yes" header-actions="I"
horizontal-scroll="yes"
after-insert-mode="new" class="standalone-form-container" >

<o-row attr="row1" layout-align="start stretch">
  <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
    
        <o-integer-input #QuoteID attr="QuoteID" label=" Quote I D" type="integer" editable="no" required="no" ></o-integer-input>
      
        <o-list-picker 
        attr="ApplicationID"
        service="WFApplication" 
        entity="WFApplicationType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="yes" 
        enabled="yes" 
        filter="yes"
        value-column="ApplicationID" 
        value-column-type="INTEGER"  
        keys="ApplicationID" 
        columns="ApplicationID;ApplicationID;ApplicationID" 
        title="ApplicationID"
        visible-columns="ApplicationID;ApplicationID" 
        separator=" - " width="680px" class="form-field">
</o-list-picker>
      
        <o-list-picker 
        attr="Status"
        service="WFQuoteStatus" 
        entity="WFQuoteStatusType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="yes" 
        enabled="yes" 
        filter="yes"
        value-column="StatusCode" 
        value-column-type="VARCHAR"  
        keys="StatusCode" 
        columns="StatusCode;Status;StatusCode" 
        title="Status"
        visible-columns="StatusCode;StatusCode" 
        separator=" - " width="680px" class="form-field">
</o-list-picker>
      
        <o-text-input #QuoteNumber attr="QuoteNumber" label="QuoteNumber" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-currency-input #TotalAmount attr="TotalAmount" title="TotalAmount" type="currency" editable="no" required="yes" currency-symbol="$" currency-symbol-position="left" thousand-separator="," decimal-separator="."></o-currency-input>
      
        <o-date-input #ValidUntil attr="ValidUntil" value-type="string" label="ValidUntil" enabled="yes" required="yes" format="YYYY-MM-DD" fxFlex="20%" class="form-field"></o-date-input>
      
        <o-date-input #LastUpdatedDate attr="LastUpdatedDate" value-type="string" label="LastUpdatedDate" enabled="yes" required="yes" format="YYYY-MM-DD" fxFlex="20%" class="form-field"></o-date-input>
      
        <o-date-input #CreatedDate attr="CreatedDate" value-type="string" label="CreatedDate" editable="no" required="yes" format="YYYY-MM-DD hh:mm:ss" fxFlex="20%" class="form-field"></o-date-input>
      
        <o-text-input #CreatedBy attr="CreatedBy" label="CreatedBy" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-date-input #ModifiedDate attr="ModifiedDate" value-type="string" label="ModifiedDate" editable="no" required="no" format="YYYY-MM-DD hh:mm:ss" fxFlex="20%" class="form-field"></o-date-input>
      
        <o-text-input #ModifiedBy attr="ModifiedBy" label="ModifiedBy" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
</div>
</o-row>

<div layout-padding></div>

</o-form>