<o-form #PERSONTBForm attr="PERSONTB_form_insert" service="PERSONTB" entity="PERSONTB"
keys="PERSON_ID" fxLayout="column" show-header="yes" header-actions="I"
horizontal-scroll="yes"
after-insert-mode="new" class="standalone-form-container" >

<o-row attr="row1" layout-align="start stretch">
  <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
    
        <o-integer-input #PERSON_ID attr="PERSON_ID" label=" P E R S O N_ I D" type="integer" editable="no" required="no" ></o-integer-input>
      
        <!-- o-list-picker 
        attr="AdministrativeAssistant"
        service="PERSONJOBTB" 
        entity="PERSONJOBTBType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="no" 
        enabled="yes" 
        filter="yes"
        value-column="PERSON_JOB_ID" 
        value-column-type="INTEGER"  
        keys="PERSON_JOB_ID" 
        columns="PERSON_JOB_ID;AdministrativeAssistant;PERSON_JOB_ID" 
        title="AdministrativeAssistant"
        visible-columns="PERSON_JOB_ID;PERSON_JOB_ID" 
        separator=" - " width="680px" class="form-field">
</o-list-picker -->
      
        <o-text-input #FIRST attr="FIRST" label="FIRST" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #LAST attr="LAST" label="LAST" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #MIDDLE attr="MIDDLE" label="MIDDLE" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #PREFIX attr="PREFIX" label="PREFIX" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #SUFFIX attr="SUFFIX" label="SUFFIX" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-date-input #HIRE_DATE attr="HIRE_DATE" value-type="string" label="HIRE_DATE" editable="no" required="no" format="YYYY-MM-DD hh:mm:ss" fxFlex="20%" class="form-field"></o-date-input>
      
        <o-text-input #SSN attr="SSN" label="SSN" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-textarea-input #TIMESTAMP attr="TIMESTAMP"  label="TIMESTAMP" enabled="true" read-only="false" fxFlex="50%"></o-textarea-input>
      
        <o-integer-input #ACTIVE attr="ACTIVE" label="ACTIVE" type="integer" editable="no" required="no" ></o-integer-input>
      
        <o-text-input #SENDTICKETTO attr="SENDTICKETTO" label="SENDTICKETTO" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #ACCTS_PAY_NUM attr="ACCTS_PAY_NUM" label="ACCTS_PAY_NUM" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #MaxPay attr="MaxPay" label="MaxPay" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #MileageRate attr="MileageRate" label="MileageRate" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #WebAccess attr="WebAccess" label="WebAccess" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #GroupLeader attr="GroupLeader" label="GroupLeader" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #KashLogIn attr="KashLogIn" label="KashLogIn" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #IsGroupLeader attr="IsGroupLeader" label="IsGroupLeader" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #HiddenSSN attr="HiddenSSN" label="HiddenSSN" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #WorkflowEmails attr="WorkflowEmails" label="WorkflowEmails" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #PasswordQuestion attr="PasswordQuestion" label="PasswordQuestion" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #PasswordAnswer attr="PasswordAnswer" label="PasswordAnswer" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #ValidFromTime attr="ValidFromTime" label="ValidFromTime" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #ValidToTime attr="ValidToTime" label="ValidToTime" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-checkbox #IncludeInIngWFAssignmentList attr="IncludeInIngWFAssignmentList" label="IncludeInIngWFAssignmentList" read-only="no" enabled="yes"></o-checkbox>
      
        <o-checkbox #TempRfr attr="TempRfr" label="TempRfr" read-only="no" enabled="yes"></o-checkbox>
      
        <o-checkbox #IsBillForMileageDifferential attr="IsBillForMileageDifferential" label="IsBillForMileageDifferential" read-only="no" enabled="yes"></o-checkbox>
      
        <o-checkbox #AllowCopackerManagement attr="AllowCopackerManagement" label="AllowCopackerManagement" read-only="no" enabled="yes"></o-checkbox>
      
        <o-integer-input #VENDOR_ID attr="VENDOR_ID" label="VENDOR_ID" type="integer" editable="no" required="no" ></o-integer-input>
      
        <o-text-input #Password attr="Password" label="Password" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-integer-input #CHANGESET_ID attr="CHANGESET_ID" label="CHANGESET_ID" type="integer" editable="no" required="no" ></o-integer-input>
      
</div>
</o-row>

<div layout-padding></div>

</o-form>