<o-form #YoshonInfoForm attr="YoshonInfo_form_insert" service="YoshonInfo" entity="YoshonInfo"
keys="Id" fxLayout="column" show-header="yes" header-actions="I"
horizontal-scroll="yes"
after-insert-mode="new" class="standalone-form-container" >

<o-row attr="row1" layout-align="start stretch">
  <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
    
        <o-text-input #Description attr="Description" label=" Description" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <!-- o-list-picker 
        attr="MerchId"
        service="MERCHTB" 
        entity="MERCHTBType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="yes" 
        enabled="yes" 
        filter="yes"
        value-column="MERCHANDISE_ID" 
        value-column-type="INTEGER"  
        keys="MERCHANDISE_ID" 
        columns="MERCHANDISE_ID;MerchId;NAME" 
        title="Merch"
        visible-columns="MERCHANDISE_ID;NAME" 
        separator=" - " width="680px" class="form-field">
</o-list-picker -->
      
        <o-text-input #Comment attr="Comment" label="Comment" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #Value attr="Value" label="Value" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #ValidFromTime attr="ValidFromTime" label="ValidFromTime" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #ValidToTime attr="ValidToTime" label="ValidToTime" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-integer-input #Id attr="Id" label="Id" type="integer" editable="no" required="no" ></o-integer-input>
      
        <o-checkbox #OuCertified attr="OuCertified" label="OuCertified" read-only="no" enabled="yes"></o-checkbox>
      
        <o-integer-input #CHANGESET_ID attr="CHANGESET_ID" label="CHANGESET_ID" type="integer" editable="no" required="no" ></o-integer-input>
      
</div>
</o-row>

<div layout-padding></div>

</o-form>