<div class="container">
<o-form-container breadcrumb="yes" breadcrumb-label-columns="ID" breadcrumb-separator=", " class="fill-form">
      <o-form #form attr="PERSONJOBSTATUSTB_form_edit" 
        service="PERSONJOBSTATUSTB" 
        entity="PERSONJOBSTATUSTB" 
        fxLayout="column" 
        show-header="yes" 
        header-actions="R;U;D"
        #oDetailForm keys="ID" 
        keys-sql-types="INTEGER" 
        show-header-navigation="yes"
        (onDataLoaded)="onDataLoaded($event)">

  <o-row attr="row1" layout-align="start stretch">
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
      
      <o-integer-input #ID attr="ID" label=" I D" type="integer" editable="no" required="no" ></o-integer-input>
      
      <o-integer-input #STATUS_SEQ_NUM attr="STATUS_SEQ_NUM" label="STATUS_SEQ_NUM" type="integer" editable="no" required="yes" ></o-integer-input>
      
      <o-text-input #STATUS attr="STATUS" label="STATUS" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-date-input #START_DATE attr="START_DATE" value-type="string" label="START_DATE" editable="no" required="no" format="YYYY-MM-DD hh:mm:ss" fxFlex="20%" class="form-field"></o-date-input>
      
      <o-date-input #END_DATE attr="END_DATE" value-type="string" label="END_DATE" editable="no" required="no" format="YYYY-MM-DD hh:mm:ss" fxFlex="20%" class="form-field"></o-date-input>
      
      <o-integer-input #ACTIVE attr="ACTIVE" label="ACTIVE" type="integer" editable="no" required="no" ></o-integer-input>
      
      <o-text-input #REASON attr="REASON" label="REASON" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-integer-input #PERSON_JOB_ID attr="PERSON_JOB_ID" label="PERSON_JOB_ID" type="integer" editable="no" required="yes" ></o-integer-input>
      
    </div>
  </o-row>
      
    </o-form>
  </o-form-container>
</div>