<div class="container">
<o-form-container breadcrumb="yes" breadcrumb-label-columns="ApplicationID" breadcrumb-separator=", " class="fill-form">
      <o-form #form attr="WFApplication_form_edit" 
        service="WFApplication" 
        entity="WFApplication" 
        fxLayout="column" 
        show-header="yes" 
        header-actions="R;U;D"
        #oDetailForm keys="ApplicationID" 
        keys-sql-types="INTEGER" 
        show-header-navigation="yes"
        (onDataLoaded)="onDataLoaded($event)">

  <o-row attr="row1" layout-align="start stretch">
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
      
      <o-integer-input #ApplicationID attr="ApplicationID" label=" Application I D" type="integer" editable="no" required="no" ></o-integer-input>
      
      <o-list-picker 
        attr="Priority"
        service="WFPriority" 
        entity="WFPriorityType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="no" 
        enabled="yes" 
        filter="yes"
        value-column="PriorityCode" 
        value-column-type="VARCHAR"  
        keys="PriorityCode" 
        columns="PriorityCode;Priority;PriorityDescription" 
        title="Priority"
        visible-columns="PriorityCode;PriorityDescription" 
        separator=" - " width="680px" class="form-field">
</o-list-picker>
      
      <o-list-picker 
        attr="Status"
        service="WFApplicationStatus" 
        entity="WFApplicationStatusType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="yes" 
        enabled="yes" 
        filter="yes"
        value-column="StatusCode" 
        value-column-type="VARCHAR"  
        keys="StatusCode" 
        columns="StatusCode;Status;StatusDescription" 
        title="Status"
        visible-columns="StatusCode;StatusDescription" 
        separator=" - " width="680px" class="form-field">
</o-list-picker>
      
      <o-list-picker 
        attr="WFDashboardID"
        service="WFDashboard" 
        entity="WFDashboardType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="no" 
        enabled="yes" 
        filter="yes"
        value-column="ID" 
        value-column-type="INTEGER"  
        keys="ID" 
        columns="ID;WFDashboardID;ID" 
        title="WFDashboardID"
        visible-columns="ID;ID" 
        separator=" - " width="680px" class="form-field">
</o-list-picker>
      
      <o-integer-input #ApplicationNumber attr="ApplicationNumber" label="ApplicationNumber" type="integer" editable="no" required="yes" ></o-integer-input>
      
      <o-date-input #SubmissionDate attr="SubmissionDate" value-type="string" label="SubmissionDate" enabled="yes" required="yes" format="YYYY-MM-DD" fxFlex="20%" class="form-field"></o-date-input>
      
      <o-text-input #AssignedTo attr="AssignedTo" label="AssignedTo" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #AssignedBy attr="AssignedBy" label="AssignedBy" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-date-input #AssignedDate attr="AssignedDate" value-type="string" label="AssignedDate" editable="no" required="no" format="YYYY-MM-DD hh:mm:ss" fxFlex="20%" class="form-field"></o-date-input>
      
      <o-date-input #CreatedDate attr="CreatedDate" value-type="string" label="CreatedDate" editable="no" required="yes" format="YYYY-MM-DD hh:mm:ss" fxFlex="20%" class="form-field"></o-date-input>
      
      <o-text-input #CreatedBy attr="CreatedBy" label="CreatedBy" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-date-input #ModifiedDate attr="ModifiedDate" value-type="string" label="ModifiedDate" editable="no" required="no" format="YYYY-MM-DD hh:mm:ss" fxFlex="20%" class="form-field"></o-date-input>
      
      <o-text-input #ModifiedBy attr="ModifiedBy" label="ModifiedBy" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-integer-input #CompanyID attr="CompanyID" label="CompanyID" type="integer" editable="no" required="yes" ></o-integer-input>
      
      <o-integer-input #PlantID attr="PlantID" label="PlantID" type="integer" editable="no" required="no" ></o-integer-input>
      <o-button (click)="start_workflow()" fxFlex="30%"
      label="Start Workflow" 
      icon="download_file" color="primary" type="raised"></o-button>
    </div>

  </o-row>
      
      <mat-tab-group fxFill>
        
        <mat-tab label="WFACTIVITYLOG-ApplicationID">
    <div layout-padding>
      <o-table 
        attr="WFActivityLogTable" 
        service="WFActivityLog" 
        entity="WFActivityLog" 
        keys="ActivityID"
        parent-keys="ApplicationID:ApplicationID"
        columns="UserName;ApplicationID;Status;ActionType;ActionDetails;ActivityType;Category;ActivityDate;ActivityID"  
        horizontal-scroll="yes"
        detail-form-route="WFActivityLog" 
        edit-form-route="WFActivityLog"
        visible-columns="UserName;ApplicationID;Status;ActionType;ActionDetails;ActivityType;Category;ActivityDate;ActivityID"  
        sort-columns="UserName" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #UserName attr="UserName" title=" User Name" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column attr="ApplicationID" title="ApplicationID">
    <o-table-cell-renderer-service attr="ApplicationID" 
        service="WFApplication" entity="WFApplicationType" columns="ApplicationID;ApplicationID"
        parent-keys="ApplicationID:ApplicationID"
        value-column="ApplicationID" keys="ApplicationID"
        visible-columns="ApplicationID" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #Status attr="Status" title="Status" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column #ActionType attr="ActionType" title="ActionType" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column #ActionDetails attr="ActionDetails" title="ActionDetails" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #ActivityType attr="ActivityType" title="ActivityType" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column #Category attr="Category" title="Category" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #ActivityDate attr="ActivityDate" title="ActivityDate" type="DATETIME2" editable="no" required="yes" ></o-table-column>
        
          <o-table-column #ActivityID attr="ActivityID" title="ActivityID" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
        <mat-tab label="WFAPPLICATIONCOMMENT-ApplicationID">
    <div layout-padding>
      <o-table 
        attr="WFApplicationCommentTable" 
        service="WFApplicationComment" 
        entity="WFApplicationComment" 
        keys="CommentID"
        parent-keys="ApplicationID:ApplicationID"
        columns="CommentID;ApplicationID;Author;CommentText;CommentType;Category;CreatedDate;CreatedBy;ModifiedDate;ModifiedBy"  
        horizontal-scroll="yes"
        detail-form-route="WFApplicationComment" 
        edit-form-route="WFApplicationComment"
        visible-columns="CommentID;ApplicationID;Author;CommentText;CommentType;Category;CreatedDate;CreatedBy;ModifiedDate;ModifiedBy"  
        sort-columns="CommentID" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #CommentID attr="CommentID" title=" Comment I D" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="ApplicationID" title="ApplicationID">
    <o-table-cell-renderer-service attr="ApplicationID" 
        service="WFApplication" entity="WFApplicationType" columns="ApplicationID;ApplicationID"
        parent-keys="ApplicationID:ApplicationID"
        value-column="ApplicationID" keys="ApplicationID"
        visible-columns="ApplicationID" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #Author attr="Author" title="Author" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column #CommentText attr="CommentText" title="CommentText" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column #CommentType attr="CommentType" title="CommentType" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column #Category attr="Category" title="Category" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #CreatedDate attr="CreatedDate" title="CreatedDate" type="DATETIME2" editable="no" required="yes" ></o-table-column>
        
          <o-table-column #CreatedBy attr="CreatedBy" title="CreatedBy" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column #ModifiedDate attr="ModifiedDate" title="ModifiedDate" type="DATETIME2" editable="no" required="no" ></o-table-column>
        
          <o-table-column #ModifiedBy attr="ModifiedBy" title="ModifiedBy" editable="no" required="no" content-align="left"></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
        <mat-tab label="WFAPPLICATIONMESSAGE-ApplicationID">
    <div layout-padding>
      <o-table 
        attr="WFApplicationMessageTable" 
        service="WFApplicationMessage" 
        entity="WFApplicationMessage" 
        keys="MessageID"
        parent-keys="ApplicationID:ApplicationID"
        columns="MessageID;ApplicationID;FromUser;ToUser;MessageText;MessageType;Priority;SentDate"  
        horizontal-scroll="yes"
        detail-form-route="WFApplicationMessage" 
        edit-form-route="WFApplicationMessage"
        visible-columns="MessageID;ApplicationID;FromUser;ToUser;MessageText;MessageType;Priority;SentDate"  
        sort-columns="MessageID" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #MessageID attr="MessageID" title=" Message I D" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="ApplicationID" title="ApplicationID">
    <o-table-cell-renderer-service attr="ApplicationID" 
        service="WFApplication" entity="WFApplicationType" columns="ApplicationID;ApplicationID"
        parent-keys="ApplicationID:ApplicationID"
        value-column="ApplicationID" keys="ApplicationID"
        visible-columns="ApplicationID" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #FromUser attr="FromUser" title="FromUser" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column #ToUser attr="ToUser" title="ToUser" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column #MessageText attr="MessageText" title="MessageText" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column #MessageType attr="MessageType" title="MessageType" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column #Priority attr="Priority" title="Priority" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column #SentDate attr="SentDate" title="SentDate" type="DATETIME2" editable="no" required="yes" ></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
        <mat-tab label="WFCOMPANY-ApplicationID">
    <div layout-padding>
      <o-table 
        attr="WFCompanyTable" 
        service="WFCompany" 
        entity="WFCompany" 
        keys="CompanyID"
        parent-keys="ApplicationID:ApplicationID"
        columns="CompanyID;ApplicationID;CreatedDate;KashrusCompanyID"  
        horizontal-scroll="yes"
        detail-form-route="WFCompany" 
        edit-form-route="WFCompany"
        visible-columns="CompanyID;ApplicationID;CreatedDate;KashrusCompanyID"  
        sort-columns="CompanyID" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #CompanyID attr="CompanyID" title=" Company I D" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="ApplicationID" title="ApplicationID">
    <o-table-cell-renderer-service attr="ApplicationID" 
        service="WFApplication" entity="WFApplicationType" columns="ApplicationID;ApplicationID"
        parent-keys="ApplicationID:ApplicationID"
        value-column="ApplicationID" keys="ApplicationID"
        visible-columns="ApplicationID" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #CreatedDate attr="CreatedDate" title="CreatedDate" type="DATETIME2" editable="no" required="yes" ></o-table-column>
        
          <o-table-column #KashrusCompanyID attr="KashrusCompanyID" title="KashrusCompanyID" type="integer" editable="no" required="yes" content-align="center"></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
        <mat-tab label="WFCONTACT-ApplicationID">
    <div layout-padding>
      <o-table 
        attr="WFContactTable" 
        service="WFContact" 
        entity="WFContact" 
        keys="ContactID"
        parent-keys="ApplicationID:ApplicationID"
        columns="ContactID;ApplicationID;CreatedDate"  
        horizontal-scroll="yes"
        detail-form-route="WFContact" 
        edit-form-route="WFContact"
        visible-columns="ContactID;ApplicationID;CreatedDate"  
        sort-columns="ContactID" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #ContactID attr="ContactID" title=" Contact I D" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="ApplicationID" title="ApplicationID">
    <o-table-cell-renderer-service attr="ApplicationID" 
        service="WFApplication" entity="WFApplicationType" columns="ApplicationID;ApplicationID"
        parent-keys="ApplicationID:ApplicationID"
        value-column="ApplicationID" keys="ApplicationID"
        visible-columns="ApplicationID" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #CreatedDate attr="CreatedDate" title="CreatedDate" type="DATETIME2" editable="no" required="yes" ></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
        <mat-tab label="WFFILE-ApplicationID">
    <div layout-padding>
      <o-table 
        attr="WFFileTable" 
        service="WFFile" 
        entity="WFFile" 
        keys="FileID"
        parent-keys="ApplicationID:ApplicationID"
        columns="FileName;ApplicationID;FileType;FileSize;UploadedDate;Tag;RecordCount;FilePath;CCreatedDate;CreatedBy;ModifiedDate;ModifiedBy;FileID;IsProcessed"  
        horizontal-scroll="yes"
        detail-form-route="WFFile" 
        edit-form-route="WFFile"
        visible-columns="FileName;ApplicationID;FileType;FileSize;UploadedDate;Tag;RecordCount;FilePath;CCreatedDate;CreatedBy;ModifiedDate;ModifiedBy;FileID;IsProcessed"  
        sort-columns="FileName" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #FileName attr="FileName" title=" File Name" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column attr="ApplicationID" title="ApplicationID">
    <o-table-cell-renderer-service attr="ApplicationID" 
        service="WFApplication" entity="WFApplicationType" columns="ApplicationID;ApplicationID"
        parent-keys="ApplicationID:ApplicationID"
        value-column="ApplicationID" keys="ApplicationID"
        visible-columns="ApplicationID" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #FileType attr="FileType" title="FileType" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column #FileSize attr="FileSize" title="FileSize" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #UploadedDate attr="UploadedDate" title="UploadedDate" type="DATE" editable="no" required="yes" ></o-table-column>
        
          <o-table-column #Tag attr="Tag" title="Tag" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #RecordCount attr="RecordCount" title="RecordCount" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column #FilePath attr="FilePath" title="FilePath" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #CCreatedDate attr="CCreatedDate" title="CCreatedDate" type="DATETIME2" editable="no" required="yes" ></o-table-column>
        
          <o-table-column #CreatedBy attr="CreatedBy" title="CreatedBy" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column #ModifiedDate attr="ModifiedDate" title="ModifiedDate" type="DATETIME2" editable="no" required="no" ></o-table-column>
        
          <o-table-column #ModifiedBy attr="ModifiedBy" title="ModifiedBy" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #FileID attr="FileID" title="FileID" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="IsProcessed" title="IsProcessed">
    <o-table-cell-renderer-boolean render-true-value="check_circle" render-false-value="highlight_off"
        render-type="icon" boolean-type="boolean" true-value="true" false-value="false"></o-table-cell-renderer-boolean>
</o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
        <mat-tab label="WFINGREDIENT-ApplicationID">
    <div layout-padding>
      <o-table 
        attr="WFIngredientTable" 
        service="WFIngredient" 
        entity="WFIngredient" 
        keys="IngredientID"
        parent-keys="ApplicationID:ApplicationID"
        columns="IngredientName;ApplicationID;Source;RMC;Manufacturer;Packaging;Agency;AddedDate;AddedBy;Status;CreatedDate;ModifiedDate;IngredientID;UKDId;Brand;NCRCId"  
        horizontal-scroll="yes"
        detail-form-route="WFIngredient" 
        edit-form-route="WFIngredient"
        visible-columns="IngredientName;ApplicationID;Source;RMC;Manufacturer;Packaging;Agency;AddedDate;AddedBy;Status;CreatedDate;ModifiedDate;IngredientID;UKDId;Brand;NCRCId"  
        sort-columns="IngredientName" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #IngredientName attr="IngredientName" title=" Ingredient Name" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column attr="ApplicationID" title="ApplicationID">
    <o-table-cell-renderer-service attr="ApplicationID" 
        service="WFApplication" entity="WFApplicationType" columns="ApplicationID;ApplicationID"
        parent-keys="ApplicationID:ApplicationID"
        value-column="ApplicationID" keys="ApplicationID"
        visible-columns="ApplicationID" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #Source attr="Source" title="Source" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column #RMC attr="RMC" title="RMC" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #Manufacturer attr="Manufacturer" title="Manufacturer" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column #Packaging attr="Packaging" title="Packaging" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column #Agency attr="Agency" title="Agency" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column #AddedDate attr="AddedDate" title="AddedDate" type="DATE" editable="no" required="yes" ></o-table-column>
        
          <o-table-column #AddedBy attr="AddedBy" title="AddedBy" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column #Status attr="Status" title="Status" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column #CreatedDate attr="CreatedDate" title="CreatedDate" type="DATETIME2" editable="no" required="no" ></o-table-column>
        
          <o-table-column #ModifiedDate attr="ModifiedDate" title="ModifiedDate" type="DATETIME2" editable="no" required="no" ></o-table-column>
        
          <o-table-column #IngredientID attr="IngredientID" title="IngredientID" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column #UKDId attr="UKDId" title="UKDId" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #Brand attr="Brand" title="Brand" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column #NCRCId attr="NCRCId" title="NCRCId" editable="no" required="yes" content-align="left"></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
        <mat-tab label="WFPLANT-ApplicationID">
    <div layout-padding>
      <o-table 
        attr="WFPlantTable" 
        service="WFPlant" 
        entity="WFPlant" 
        keys="PlantID"
        parent-keys="ApplicationID:ApplicationID"
        columns="PlantID;ApplicationID;PlantNumber;CreatedDate"  
        horizontal-scroll="yes"
        detail-form-route="WFPlant" 
        edit-form-route="WFPlant"
        visible-columns="PlantID;ApplicationID;PlantNumber;CreatedDate"  
        sort-columns="PlantID" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #PlantID attr="PlantID" title=" Plant I D" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="ApplicationID" title="ApplicationID">
    <o-table-cell-renderer-service attr="ApplicationID" 
        service="WFApplication" entity="WFApplicationType" columns="ApplicationID;ApplicationID"
        parent-keys="ApplicationID:ApplicationID"
        value-column="ApplicationID" keys="ApplicationID"
        visible-columns="ApplicationID" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #PlantNumber attr="PlantNumber" title="PlantNumber" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column #CreatedDate attr="CreatedDate" title="CreatedDate" type="DATETIME2" editable="no" required="yes" ></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
        <mat-tab label="WFPRODUCT-ApplicationID">
    <div layout-padding>
      <o-table 
        attr="WFProductTable" 
        service="WFProduct" 
        entity="WFProduct" 
        keys="ProductID"
        parent-keys="ApplicationID:ApplicationID"
        columns="labelName;ApplicationID;action;doNotImport;message;labelType;brandName;distributorName;group;symbol;dpm;category;usePlantStatus;status;legacyStatus;consumer;industrial;processedBy;processedDate;notes;ProductID;legacyId;labelCompanyId;finalized"  
        horizontal-scroll="yes"
        detail-form-route="WFProduct" 
        edit-form-route="WFProduct"
        visible-columns="labelName;ApplicationID;action;doNotImport;message;labelType;brandName;distributorName;group;symbol;dpm;category;usePlantStatus;status;legacyStatus;consumer;industrial;processedBy;processedDate;notes;ProductID;legacyId;labelCompanyId;finalized"  
        sort-columns="labelName" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #labelName attr="labelName" title=" label Name" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column attr="ApplicationID" title="ApplicationID">
    <o-table-cell-renderer-service attr="ApplicationID" 
        service="WFApplication" entity="WFApplicationType" columns="ApplicationID;ApplicationID"
        parent-keys="ApplicationID:ApplicationID"
        value-column="ApplicationID" keys="ApplicationID"
        visible-columns="ApplicationID" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #action attr="action" title="action" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column attr="doNotImport" title="doNotImport">
    <o-table-cell-renderer-boolean render-true-value="check_circle" render-false-value="highlight_off"
        render-type="icon" boolean-type="boolean" true-value="true" false-value="false"></o-table-cell-renderer-boolean>
</o-table-column>
        
          <o-table-column #message attr="message" title="message" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #labelType attr="labelType" title="labelType" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column #brandName attr="brandName" title="brandName" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column #distributorName attr="distributorName" title="distributorName" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column #group attr="group" title="group" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column #symbol attr="symbol" title="symbol" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column #dpm attr="dpm" title="dpm" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column #category attr="category" title="category" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column attr="usePlantStatus" title="usePlantStatus">
    <o-table-cell-renderer-boolean render-true-value="check_circle" render-false-value="highlight_off"
        render-type="icon" boolean-type="boolean" true-value="true" false-value="false"></o-table-cell-renderer-boolean>
</o-table-column>
        
          <o-table-column #status attr="status" title="status" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column #legacyStatus attr="legacyStatus" title="legacyStatus" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column attr="consumer" title="consumer">
    <o-table-cell-renderer-boolean render-true-value="check_circle" render-false-value="highlight_off"
        render-type="icon" boolean-type="boolean" true-value="true" false-value="false"></o-table-cell-renderer-boolean>
</o-table-column>
        
          <o-table-column attr="industrial" title="industrial">
    <o-table-cell-renderer-boolean render-true-value="check_circle" render-false-value="highlight_off"
        render-type="icon" boolean-type="boolean" true-value="true" false-value="false"></o-table-cell-renderer-boolean>
</o-table-column>
        
          <o-table-column #processedBy attr="processedBy" title="processedBy" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column #processedDate attr="processedDate" title="processedDate" type="DATE" editable="no" required="yes" ></o-table-column>
        
          <o-table-column #notes attr="notes" title="notes" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column #ProductID attr="ProductID" title="ProductID" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column #legacyId attr="legacyId" title="legacyId" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column #labelCompanyId attr="labelCompanyId" title="labelCompanyId" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column attr="finalized" title="finalized">
    <o-table-cell-renderer-boolean render-true-value="check_circle" render-false-value="highlight_off"
        render-type="icon" boolean-type="boolean" true-value="true" false-value="false"></o-table-cell-renderer-boolean>
</o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
        <mat-tab label="WFQUOTE-ApplicationID">
    <div layout-padding>
      <o-table 
        attr="WFQuoteTable" 
        service="WFQuote" 
        entity="WFQuote" 
        keys="QuoteID"
        parent-keys="ApplicationID:ApplicationID"
        columns="QuoteID;ApplicationID;Status;QuoteNumber;TotalAmount;ValidUntil;LastUpdatedDate;CreatedDate;CreatedBy;ModifiedDate;ModifiedBy"  
        horizontal-scroll="yes"
        detail-form-route="WFQuote" 
        edit-form-route="WFQuote"
        visible-columns="QuoteID;ApplicationID;Status;QuoteNumber;TotalAmount;ValidUntil;LastUpdatedDate;CreatedDate;CreatedBy;ModifiedDate;ModifiedBy"  
        sort-columns="QuoteID" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #QuoteID attr="QuoteID" title=" Quote I D" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="ApplicationID" title="ApplicationID">
    <o-table-cell-renderer-service attr="ApplicationID" 
        service="WFApplication" entity="WFApplicationType" columns="ApplicationID;ApplicationID"
        parent-keys="ApplicationID:ApplicationID"
        value-column="ApplicationID" keys="ApplicationID"
        visible-columns="ApplicationID" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #Status attr="Status" title="Status" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column #QuoteNumber attr="QuoteNumber" title="QuoteNumber" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column #TotalAmount attr="TotalAmount" title="TotalAmount" type="currency" editable="no" required="yes" currency-symbol="$" currency-symbol-position="left" thousand-separator=","decimal-separator="."></o-table-column>
        
          <o-table-column #ValidUntil attr="ValidUntil" title="ValidUntil" type="DATE" editable="no" required="yes" ></o-table-column>
        
          <o-table-column #LastUpdatedDate attr="LastUpdatedDate" title="LastUpdatedDate" type="DATE" editable="no" required="yes" ></o-table-column>
        
          <o-table-column #CreatedDate attr="CreatedDate" title="CreatedDate" type="DATETIME2" editable="no" required="yes" ></o-table-column>
        
          <o-table-column #CreatedBy attr="CreatedBy" title="CreatedBy" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column #ModifiedDate attr="ModifiedDate" title="ModifiedDate" type="DATETIME2" editable="no" required="no" ></o-table-column>
        
          <o-table-column #ModifiedBy attr="ModifiedBy" title="ModifiedBy" editable="no" required="no" content-align="left"></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
      </mat-tab-group>
      
    </o-form>
  </o-form-container>
</div>