<o-form-layout-manager attr="WFProduct" mode="tab" title="WFPRODUCT">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="WFProductTable" 
            service="WFProduct" 
            entity="WFProduct" 
            title="WFPRODUCT"
            keys="ProductID"
            columns="labelName;ApplicationID;action;doNotImport;message;labelType;brandName;distributorName;group;symbol;dpm;category;usePlantStatus;status;legacyStatus;consumer;industrial;processedBy;processedDate;notes;ProductID;legacyId;labelCompanyId;finalized" 
            header-actions="R;D"
            visible-columns="labelName;ApplicationID;action;doNotImport;message;labelType;brandName;distributorName;group;symbol;dpm;category;usePlantStatus;status;legacyStatus;consumer;industrial;processedBy;processedDate;notes;ProductID;legacyId;labelCompanyId;finalized"  
            sort-columns="labelName" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #labelName attr="labelName" title=" label Name" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column attr="ApplicationID" title="ApplicationID">
    <o-table-cell-renderer-service attr="ApplicationID" 
        service="WFApplication" entity="WFApplicationType" columns="ApplicationID;ApplicationID"
        parent-keys="ProductID:ApplicationID"
        value-column="ApplicationID" keys="ApplicationID"
        visible-columns="ApplicationID" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column #action attr="action" title="action" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column attr="doNotImport" title="doNotImport">
    <o-table-cell-renderer-boolean render-true-value="check_circle" render-false-value="highlight_off"
        render-type="icon" boolean-type="boolean" true-value="true" false-value="false"></o-table-cell-renderer-boolean>
</o-table-column>
            
            <o-table-column #message attr="message" title="message" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #labelType attr="labelType" title="labelType" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column #brandName attr="brandName" title="brandName" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column #distributorName attr="distributorName" title="distributorName" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column #group attr="group" title="group" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column #symbol attr="symbol" title="symbol" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column #dpm attr="dpm" title="dpm" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column #category attr="category" title="category" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column attr="usePlantStatus" title="usePlantStatus">
    <o-table-cell-renderer-boolean render-true-value="check_circle" render-false-value="highlight_off"
        render-type="icon" boolean-type="boolean" true-value="true" false-value="false"></o-table-cell-renderer-boolean>
</o-table-column>
            
            <o-table-column #status attr="status" title="status" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column #legacyStatus attr="legacyStatus" title="legacyStatus" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column attr="consumer" title="consumer">
    <o-table-cell-renderer-boolean render-true-value="check_circle" render-false-value="highlight_off"
        render-type="icon" boolean-type="boolean" true-value="true" false-value="false"></o-table-cell-renderer-boolean>
</o-table-column>
            
            <o-table-column attr="industrial" title="industrial">
    <o-table-cell-renderer-boolean render-true-value="check_circle" render-false-value="highlight_off"
        render-type="icon" boolean-type="boolean" true-value="true" false-value="false"></o-table-cell-renderer-boolean>
</o-table-column>
            
            <o-table-column #processedBy attr="processedBy" title="processedBy" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column #processedDate attr="processedDate" title="processedDate" type="DATE" editable="no" required="yes" ></o-table-column>
            
            <o-table-column #notes attr="notes" title="notes" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column #ProductID attr="ProductID" title="ProductID" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column #legacyId attr="legacyId" title="legacyId" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column #labelCompanyId attr="labelCompanyId" title="labelCompanyId" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column attr="finalized" title="finalized">
    <o-table-cell-renderer-boolean render-true-value="check_circle" render-false-value="highlight_off"
        render-type="icon" boolean-type="boolean" true-value="true" false-value="false"></o-table-cell-renderer-boolean>
</o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>