<div class="container">
<o-form-container breadcrumb="yes" breadcrumb-label-columns="ValidationName" breadcrumb-separator=", " class="fill-form">
      <o-form #form attr="ValidationRule_form_edit" 
        service="ValidationRule" 
        entity="ValidationRule" 
        fxLayout="column" 
        show-header="yes" 
        header-actions="R;U;D"
        #oDetailForm keys="ValidationId" 
        keys-sql-types="INTEGER" 
        show-header-navigation="yes"
        (onDataLoaded)="onDataLoaded($event)">

  <o-row attr="row1" layout-align="start stretch">
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
      
      <o-text-input #ValidationName attr="ValidationName" label=" Validation Name" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #Category attr="Category" label="Category" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #RuleType attr="RuleType" label="RuleType" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #ValidationQuery attr="ValidationQuery" label="ValidationQuery" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #ErrorMessage attr="ErrorMessage" label="ErrorMessage" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-checkbox #IsActive attr="IsActive" label="IsActive" read-only="no" enabled="yes"></o-checkbox>
      
      <o-date-input #CreatedDate attr="CreatedDate" value-type="string" label="CreatedDate" editable="no" required="yes" format="YYYY-MM-DD hh:mm:ss" fxFlex="20%" class="form-field"></o-date-input>
      
      <o-integer-input #ValidationId attr="ValidationId" label="ValidationId" type="integer" editable="no" required="no" ></o-integer-input>
      
    </div>
  </o-row>
      
      <mat-tab-group fxFill>
        
        <mat-tab label="VALIDATIONRESULT-ValidationId">
    <div layout-padding>
      <o-table 
        attr="ValidationResultTable" 
        service="ValidationResult" 
        entity="ValidationResult" 
        keys="ValidationResultId"
        parent-keys="ValidationId:ValidationId"
        columns="ValidationResultId;InstanceId;TaskInstanceId;ValidationId;ValidationMessage;ValidationDate;ValidatedBy;IsValid"  
        horizontal-scroll="yes"
        detail-form-route="ValidationResult" 
        edit-form-route="ValidationResult"
        visible-columns="ValidationResultId;InstanceId;TaskInstanceId;ValidationId;ValidationMessage;ValidationDate;ValidatedBy;IsValid"  
        sort-columns="ValidationResultId" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #ValidationResultId attr="ValidationResultId" title=" Validation Result Id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="InstanceId" title="Instance">
    <o-table-cell-renderer-service attr="InstanceId" 
        service="ProcessInstance" entity="ProcessInstanceType" columns="InstanceId;InstanceId"
        parent-keys="ValidationId:InstanceId"
        value-column="InstanceId" keys="InstanceId"
        visible-columns="InstanceId" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="TaskInstanceId" title="TaskInstance">
    <o-table-cell-renderer-service attr="TaskInstanceId" 
        service="TaskInstance" entity="TaskInstanceType" columns="TaskInstanceId;TaskInstanceId"
        parent-keys="ValidationId:TaskInstanceId"
        value-column="TaskInstanceId" keys="TaskInstanceId"
        visible-columns="TaskInstanceId" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="ValidationId" title="Validation">
    <o-table-cell-renderer-service attr="ValidationId" 
        service="ValidationRule" entity="ValidationRuleType" columns="ValidationId;ValidationName"
        parent-keys="ValidationId:ValidationId"
        value-column="ValidationName" keys="ValidationId"
        visible-columns="ValidationName" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #ValidationMessage attr="ValidationMessage" title="ValidationMessage" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #ValidationDate attr="ValidationDate" title="ValidationDate" type="DATETIME2" editable="no" required="yes" ></o-table-column>
        
          <o-table-column #ValidatedBy attr="ValidatedBy" title="ValidatedBy" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column attr="IsValid" title="IsValid">
    <o-table-cell-renderer-boolean render-true-value="check_circle" render-false-value="highlight_off"
        render-type="icon" boolean-type="boolean" true-value="true" false-value="false"></o-table-cell-renderer-boolean>
</o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
      </mat-tab-group>
      
    </o-form>
  </o-form-container>
</div>