<o-form-layout-manager attr="WFCompany" mode="tab" title="WFCOMPANY">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="WFCompanyTable" 
            service="WFCompany" 
            entity="WFCompany" 
            title="WFCOMPANY"
            keys="CompanyID"
            columns="CompanyID;ApplicationID;CreatedDate;KashrusCompanyID" 
            header-actions="R;D"
            visible-columns="CompanyID;ApplicationID;CreatedDate;KashrusCompanyID"  
            sort-columns="CompanyID" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #CompanyID attr="CompanyID" title=" Company I D" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column attr="ApplicationID" title="ApplicationID">
    <o-table-cell-renderer-service attr="ApplicationID" 
        service="WFApplication" entity="WFApplicationType" columns="ApplicationID;ApplicationID"
        parent-keys="CompanyID:ApplicationID"
        value-column="ApplicationID" keys="ApplicationID"
        visible-columns="ApplicationID" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column #CreatedDate attr="CreatedDate" title="CreatedDate" type="DATETIME2" editable="no" required="yes" ></o-table-column>
            
            <o-table-column #KashrusCompanyID attr="KashrusCompanyID" title="KashrusCompanyID" type="integer" editable="no" required="yes" content-align="center"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>