<div class="container">
<o-form-container breadcrumb="yes" breadcrumb-label-columns="HistoryId" breadcrumb-separator=", " class="fill-form">
      <o-form #form attr="WorkflowHistory_form_edit" 
        service="WorkflowHistory" 
        entity="WorkflowHistory" 
        fxLayout="column" 
        show-header="yes" 
        header-actions="R;U;D"
        #oDetailForm keys="HistoryId" 
        keys-sql-types="INTEGER" 
        show-header-navigation="yes"
        (onDataLoaded)="onDataLoaded($event)">

  <o-row attr="row1" layout-align="start stretch">
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
      
      <o-integer-input #HistoryId attr="HistoryId" label=" History Id" type="integer" editable="no" required="no" ></o-integer-input>
      
      <o-list-picker 
        attr="InstanceId"
        service="ProcessInstance" 
        entity="ProcessInstanceType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="yes" 
        enabled="yes" 
        filter="yes"
        value-column="InstanceId" 
        value-column-type="INTEGER"  
        keys="InstanceId" 
        columns="InstanceId;InstanceId;InstanceId" 
        title="Instance"
        visible-columns="InstanceId;InstanceId" 
        separator=" - " width="680px" class="form-field">
</o-list-picker>
      
      <o-list-picker 
        attr="TaskInstanceId"
        service="TaskInstance" 
        entity="TaskInstanceType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="no" 
        enabled="yes" 
        filter="yes"
        value-column="TaskInstanceId" 
        value-column-type="INTEGER"  
        keys="TaskInstanceId" 
        columns="TaskInstanceId;TaskInstanceId;TaskInstanceId" 
        title="TaskInstance"
        visible-columns="TaskInstanceId;TaskInstanceId" 
        separator=" - " width="680px" class="form-field">
</o-list-picker>
      
      <o-text-input #Action attr="Action" label="Action" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #PreviousStatus attr="PreviousStatus" label="PreviousStatus" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #NewStatus attr="NewStatus" label="NewStatus" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #ActionBy attr="ActionBy" label="ActionBy" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-date-input #ActionDate attr="ActionDate" value-type="string" label="ActionDate" editable="no" required="yes" format="YYYY-MM-DD hh:mm:ss" fxFlex="20%" class="form-field"></o-date-input>
      
      <o-text-input #ActionReason attr="ActionReason" label="ActionReason" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #Details attr="Details" label="Details" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
    </div>
  </o-row>
      
      <mat-tab-group fxFill>
        
      </mat-tab-group>
      
    </o-form>
  </o-form-container>
</div>