<o-form-layout-manager attr="Billing" mode="tab" title="BILLING">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="BillingTable" 
            service="Billing" 
            entity="Billing" 
            title="BILLING"
            keys="Id"
            columns="Id;COMPANY_ID;OWNS_ID;PFSO_ID;VisitType;PayType;Amount;VirtualAmount;ValidFromTime;ValidToTime;Kind;CHANGESET_ID" 
            header-actions="R;D"
            visible-columns="Id;COMPANY_ID;OWNS_ID;PFSO_ID;VisitType;PayType;Amount;VirtualAmount;ValidFromTime;ValidToTime;Kind;CHANGESET_ID"  
            sort-columns="Id" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #Id attr="Id" title=" Id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column attr="COMPANY_ID" title="COMPANY_ID">
    <!-- o-table-cell-renderer-service attr="COMPANY_ID" 
        service="COMPANYTB" entity="COMPANYTBType" columns="COMPANY_ID;NAME"
        parent-keys="Id:COMPANY_ID"
        value-column="NAME" keys="COMPANY_ID"
        visible-columns="NAME" separator=" - " width="680px">
    </o-table-cell-renderer-service -->
</o-table-column >
            
            <o-table-column attr="OWNS_ID" title="OWNS_ID">
    <!-- o-table-cell-renderer-service attr="OWNS_ID" 
        service="OWNSTB" entity="OWNSTBType" columns="ID;PlantName"
        parent-keys="Id:OWNS_ID"
        value-column="PlantName" keys="OWNS_ID"
        visible-columns="PlantName" separator=" - " width="680px">
    </o-table-cell-renderer-service -->
</o-table-column >
            
            <o-table-column attr="PFSO_ID" title="PFSO_ID">
    <!-- o-table-cell-renderer-service attr="PFSO_ID" 
        service="PLANTFEESTRUCTUREOUT" entity="PLANTFEESTRUCTUREOUTType" columns="ID;ID"
        parent-keys="Id:PFSO_ID"
        value-column="ID" keys="PFSO_ID"
        visible-columns="ID" separator=" - " width="680px">
    </o-table-cell-renderer-service -->
</o-table-column >
            
            <o-table-column #VisitType attr="VisitType" title="VisitType" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #PayType attr="PayType" title="PayType" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #Amount attr="Amount" title="Amount" type="currency" editable="no" required="yes" currency-symbol="$" currency-symbol-position="left" thousand-separator=","decimal-separator="."></o-table-column>
            
            <o-table-column #VirtualAmount attr="VirtualAmount" title="VirtualAmount" type="currency" editable="no" required="yes" currency-symbol="$" currency-symbol-position="left" thousand-separator=","decimal-separator="."></o-table-column>
            
            <o-table-column #ValidFromTime attr="ValidFromTime" title="ValidFromTime" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column #ValidToTime attr="ValidToTime" title="ValidToTime" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column #Kind attr="Kind" title="Kind" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #CHANGESET_ID attr="CHANGESET_ID" title="CHANGESET_ID" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>