<div class="container">
<o-form-container breadcrumb="yes" breadcrumb-label-columns="FileTypeName" breadcrumb-separator=", " class="fill-form">
      <o-form #form attr="WFFileType_form_edit" 
        service="WFFileType" 
        entity="WFFileType" 
        fxLayout="column" 
        show-header="yes" 
        header-actions="R;U;D"
        #oDetailForm keys="FileType" 
        keys-sql-types="VARCHAR" 
        show-header-navigation="yes"
        (onDataLoaded)="onDataLoaded($event)">

  <o-row attr="row1" layout-align="start stretch">
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
      
      <o-text-input #FileTypeName attr="FileTypeName" label=" File Type Name" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #FileType attr="FileType" label="FileType" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
    </div>
  </o-row>
      
      <mat-tab-group fxFill>
        
        <mat-tab label="WFFILE-FileType">
    <div layout-padding>
      <o-table 
        attr="WFFileTable" 
        service="WFFile" 
        entity="WFFile" 
        keys="FileID"
        parent-keys="FileType:FileType"
        columns="FileName;ApplicationID;FileType;FileSize;UploadedDate;Tag;RecordCount;FilePath;CCreatedDate;CreatedBy;ModifiedDate;ModifiedBy;FileID;IsProcessed"  
        horizontal-scroll="yes"
        detail-form-route="WFFile" 
        edit-form-route="WFFile"
        visible-columns="FileName;ApplicationID;FileType;FileSize;UploadedDate;Tag;RecordCount;FilePath;CCreatedDate;CreatedBy;ModifiedDate;ModifiedBy;FileID;IsProcessed"  
        sort-columns="FileName" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #FileName attr="FileName" title=" File Name" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column attr="ApplicationID" title="ApplicationID">
    <o-table-cell-renderer-service attr="ApplicationID" 
        service="WFApplication" entity="WFApplicationType" columns="ApplicationID;ApplicationID"
        parent-keys="FileType:ApplicationID"
        value-column="ApplicationID" keys="ApplicationID"
        visible-columns="ApplicationID" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #FileType attr="FileType" title="FileType" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column #FileSize attr="FileSize" title="FileSize" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #UploadedDate attr="UploadedDate" title="UploadedDate" type="DATE" editable="no" required="yes" ></o-table-column>
        
          <o-table-column #Tag attr="Tag" title="Tag" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #RecordCount attr="RecordCount" title="RecordCount" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column #FilePath attr="FilePath" title="FilePath" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #CCreatedDate attr="CCreatedDate" title="CCreatedDate" type="DATETIME2" editable="no" required="yes" ></o-table-column>
        
          <o-table-column #CreatedBy attr="CreatedBy" title="CreatedBy" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column #ModifiedDate attr="ModifiedDate" title="ModifiedDate" type="DATETIME2" editable="no" required="no" ></o-table-column>
        
          <o-table-column #ModifiedBy attr="ModifiedBy" title="ModifiedBy" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #FileID attr="FileID" title="FileID" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="IsProcessed" title="IsProcessed">
    <o-table-cell-renderer-boolean render-true-value="check_circle" render-false-value="highlight_off"
        render-type="icon" boolean-type="boolean" true-value="true" false-value="false"></o-table-cell-renderer-boolean>
</o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
      </mat-tab-group>
      
    </o-form>
  </o-form-container>
</div>