<o-form-layout-manager attr="LaneDefinition" mode="tab" title="LANEDEFINITION">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="LaneDefinitionTable" 
            service="LaneDefinition" 
            entity="LaneDefinition" 
            title="LANEDEFINITION"
            keys="LaneId"
            columns="LaneName;LaneRole;ProcessId;LaneDescription;EstimatedDurationDays;CreatedDate;CreatedBy;ModifiedDate;ModifiedBy;LaneId" 
            header-actions="R;D"
            visible-columns="LaneName;LaneRole;ProcessId;LaneDescription;EstimatedDurationDays;CreatedDate;CreatedBy;ModifiedDate;ModifiedBy;LaneId"  
            sort-columns="LaneName" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #LaneName attr="LaneName" title=" Lane Name" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column #LaneRole attr="LaneRole" title="LaneRole" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column attr="ProcessId" title="Process">
    <o-table-cell-renderer-service attr="ProcessId" 
        service="ProcessDefinition" entity="ProcessDefinitionType" columns="ProcessId;ProcessName"
        parent-keys="LaneId:ProcessId"
        value-column="ProcessName" keys="ProcessId"
        visible-columns="ProcessName" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column #LaneDescription attr="LaneDescription" title="LaneDescription" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #EstimatedDurationDays attr="EstimatedDurationDays" title="EstimatedDurationDays" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column #CreatedDate attr="CreatedDate" title="CreatedDate" type="DATETIME2" editable="no" required="yes" ></o-table-column>
            
            <o-table-column #CreatedBy attr="CreatedBy" title="CreatedBy" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column #ModifiedDate attr="ModifiedDate" title="ModifiedDate" type="DATETIME2" editable="no" required="no" ></o-table-column>
            
            <o-table-column #ModifiedBy attr="ModifiedBy" title="ModifiedBy" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #LaneId attr="LaneId" title="LaneId" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>