<o-form-layout-manager attr="PRIVATELABELBILL" mode="tab" title="PRIVATELABELBILL">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="PRIVATELABELBILLTable" 
            service="PRIVATELABELBILL" 
            entity="PRIVATELABELBILL" 
            title="PRIVATELABELBILL"
            keys="ID"
            columns="ID;BILL_TO_CO_ID;BILL_TO_PLANT_ID;COMPANY_ID;SRC_MAR_ID;DATE_UPDATE;PRIV_LABEL_FEE;TIMESTAMP;AGREEMENT_RECEIVED_DATE;ValidFromTime;ValidToTime;MAN_ENTERED;PRO_RATED;LAST_BIILED;CHANGESET_ID" 
            header-actions="R;D"
            visible-columns="ID;BILL_TO_CO_ID;BILL_TO_PLANT_ID;COMPANY_ID;SRC_MAR_ID;DATE_UPDATE;PRIV_LABEL_FEE;TIMESTAMP;AGREEMENT_RECEIVED_DATE;ValidFromTime;ValidToTime;MAN_ENTERED;PRO_RATED;LAST_BIILED;CHANGESET_ID"  
            sort-columns="ID" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #ID attr="ID" title=" I D" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column attr="BILL_TO_CO_ID" title="BILL_TO_CO_ID">
    <!-- o-table-cell-renderer-service attr="BILL_TO_CO_ID" 
        service="COMPANYTB" entity="COMPANYTBType" columns="COMPANY_ID;NAME"
        parent-keys="ID:BILL_TO_CO_ID"
        value-column="NAME" keys="BILL_TO_CO_ID"
        visible-columns="NAME" separator=" - " width="680px">
    </o-table-cell-renderer-service -->
</o-table-column >
            
            <o-table-column attr="BILL_TO_PLANT_ID" title="BILL_TO_PLANT_ID">
    <!-- o-table-cell-renderer-service attr="BILL_TO_PLANT_ID" 
        service="PLANTTB" entity="PLANTTBType" columns="PLANT_ID;NAME"
        parent-keys="ID:BILL_TO_PLANT_ID"
        value-column="NAME" keys="BILL_TO_PLANT_ID"
        visible-columns="NAME" separator=" - " width="680px">
    </o-table-cell-renderer-service -->
</o-table-column >
            
            <o-table-column attr="COMPANY_ID" title="COMPANY_ID">
    <!-- o-table-cell-renderer-service attr="COMPANY_ID" 
        service="COMPANYTB" entity="COMPANYTBType" columns="COMPANY_ID;NAME"
        parent-keys="ID:COMPANY_ID"
        value-column="NAME" keys="COMPANY_ID"
        visible-columns="NAME" separator=" - " width="680px">
    </o-table-cell-renderer-service -->
</o-table-column >
            
            <o-table-column attr="SRC_MAR_ID" title="SRC_MAR_ID">
    <!-- o-table-cell-renderer-service attr="SRC_MAR_ID" 
        service="COMPANYTB" entity="COMPANYTBType" columns="COMPANY_ID;NAME"
        parent-keys="ID:SRC_MAR_ID"
        value-column="NAME" keys="SRC_MAR_ID"
        visible-columns="NAME" separator=" - " width="680px">
    </o-table-cell-renderer-service -->
</o-table-column >
            
            <o-table-column #DATE_UPDATE attr="DATE_UPDATE" title="DATE_UPDATE" type="DATETIME" editable="no" required="no" ></o-table-column>
            
            <o-table-column #PRIV_LABEL_FEE attr="PRIV_LABEL_FEE" title="PRIV_LABEL_FEE" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #TIMESTAMP attr="TIMESTAMP" title="TIMESTAMP" type="BINARY" editable="no" required="no" ></o-table-column>
            
            <o-table-column #AGREEMENT_RECEIVED_DATE attr="AGREEMENT_RECEIVED_DATE" title="AGREEMENT_RECEIVED_DATE" type="DATETIME" editable="no" required="no" ></o-table-column>
            
            <o-table-column #ValidFromTime attr="ValidFromTime" title="ValidFromTime" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column #ValidToTime attr="ValidToTime" title="ValidToTime" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column attr="MAN_ENTERED" title="MAN_ENTERED">
    <o-table-cell-renderer-boolean render-true-value="check_circle" render-false-value="highlight_off"
        render-type="icon" boolean-type="boolean" true-value="true" false-value="false"></o-table-cell-renderer-boolean>
</o-table-column>
            
            <o-table-column #PRO_RATED attr="PRO_RATED" title="PRO_RATED" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #LAST_BIILED attr="LAST_BIILED" title="LAST_BIILED" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #CHANGESET_ID attr="CHANGESET_ID" title="CHANGESET_ID" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>