<o-form-layout-manager attr="ProcessMessage" mode="tab" title="PROCESSMESSAGE">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="ProcessMessageTable" 
            service="ProcessMessage" 
            entity="ProcessMessage" 
            title="PROCESSMESSAGE"
            keys="MessageId"
            columns="MessageId;InstanceId;MessageType;FromUser;ToUser;ToRole;Subject;MessageBody;SentDate;ReadDate;IsRead" 
            header-actions="R;D"
            visible-columns="MessageId;InstanceId;MessageType;FromUser;ToUser;ToRole;Subject;MessageBody;SentDate;ReadDate;IsRead"  
            sort-columns="MessageId" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #MessageId attr="MessageId" title=" Message Id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column attr="InstanceId" title="Instance">
    <o-table-cell-renderer-service attr="InstanceId" 
        service="ProcessInstance" entity="ProcessInstanceType" columns="InstanceId;InstanceId"
        parent-keys="MessageId:InstanceId"
        value-column="InstanceId" keys="InstanceId"
        visible-columns="InstanceId" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column #MessageType attr="MessageType" title="MessageType" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #FromUser attr="FromUser" title="FromUser" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column #ToUser attr="ToUser" title="ToUser" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #ToRole attr="ToRole" title="ToRole" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #Subject attr="Subject" title="Subject" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #MessageBody attr="MessageBody" title="MessageBody" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column #SentDate attr="SentDate" title="SentDate" type="DATETIME2" editable="no" required="yes" ></o-table-column>
            
            <o-table-column #ReadDate attr="ReadDate" title="ReadDate" type="DATETIME2" editable="no" required="no" ></o-table-column>
            
            <o-table-column attr="IsRead" title="IsRead">
    <o-table-cell-renderer-boolean render-true-value="check_circle" render-false-value="highlight_off"
        render-type="icon" boolean-type="boolean" true-value="true" false-value="false"></o-table-cell-renderer-boolean>
</o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>