<o-form #CoPackerFacilitiesLocationForm attr="CoPackerFacilitiesLocation_form_insert" service="CoPackerFacilitiesLocation" entity="CoPackerFacilitiesLocation"
keys="ID" fxLayout="column" show-header="yes" header-actions="I"
horizontal-scroll="yes"
after-insert-mode="new" class="standalone-form-container" >

<o-row attr="row1" layout-align="start stretch">
  <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
    
        <o-integer-input #ID attr="ID" label=" I D" type="integer" editable="no" required="no" ></o-integer-input>
      
        <!-- o-list-picker 
        attr="CoPackerId"
        service="CoPackerFacility" 
        entity="CoPackerFacilityType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="yes" 
        enabled="yes" 
        filter="yes"
        value-column="ID" 
        value-column-type="INTEGER"  
        keys="ID" 
        columns="ID;CoPackerId;Description" 
        title="CoPacker"
        visible-columns="ID;Description" 
        separator=" - " width="680px" class="form-field">
</o-list-picker -->
      
        <o-text-input #Location attr="Location" label="Location" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #LocationCity attr="LocationCity" label="LocationCity" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #LocationState attr="LocationState" label="LocationState" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #LocationProvince attr="LocationProvince" label="LocationProvince" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #LocationCountry attr="LocationCountry" label="LocationCountry" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #ValidFromTime attr="ValidFromTime" label="ValidFromTime" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #ValidToTime attr="ValidToTime" label="ValidToTime" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-integer-input #CHANGESET_ID attr="CHANGESET_ID" label="CHANGESET_ID" type="integer" editable="no" required="no" ></o-integer-input>
      
</div>
</o-row>

<div layout-padding></div>

</o-form>