<div class="container">
<o-form-container breadcrumb="yes" breadcrumb-label-columns="StatusCode" breadcrumb-separator=", " class="fill-form">
      <o-form #form attr="WFQuoteStatus_form_edit" 
        service="WFQuoteStatus" 
        entity="WFQuoteStatus" 
        fxLayout="column" 
        show-header="yes" 
        header-actions="R;U;D"
        #oDetailForm keys="StatusCode" 
        keys-sql-types="VARCHAR" 
        show-header-navigation="yes"
        (onDataLoaded)="onDataLoaded($event)">

  <o-row attr="row1" layout-align="start stretch">
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
      
      <o-text-input #StatusCode attr="StatusCode" label=" Status Code" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #StatusDesc attr="StatusDesc" label="StatusDesc" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
    </div>
  </o-row>
      
      <mat-tab-group fxFill>
        
        <mat-tab label="WFQUOTE-Status">
    <div layout-padding>
      <o-table 
        attr="WFQuoteTable" 
        service="WFQuote" 
        entity="WFQuote" 
        keys="QuoteID"
        parent-keys="Status:StatusCode"
        columns="QuoteID;ApplicationID;Status;QuoteNumber;TotalAmount;ValidUntil;LastUpdatedDate;CreatedDate;CreatedBy;ModifiedDate;ModifiedBy"  
        horizontal-scroll="yes"
        detail-form-route="WFQuote" 
        edit-form-route="WFQuote"
        visible-columns="QuoteID;ApplicationID;Status;QuoteNumber;TotalAmount;ValidUntil;LastUpdatedDate;CreatedDate;CreatedBy;ModifiedDate;ModifiedBy"  
        sort-columns="QuoteID" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #QuoteID attr="QuoteID" title=" Quote I D" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="ApplicationID" title="ApplicationID">
    <o-table-cell-renderer-service attr="ApplicationID" 
        service="WFApplication" entity="WFApplicationType" columns="ApplicationID;ApplicationID"
        parent-keys="StatusCode:ApplicationID"
        value-column="ApplicationID" keys="ApplicationID"
        visible-columns="ApplicationID" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #Status attr="Status" title="Status" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column #QuoteNumber attr="QuoteNumber" title="QuoteNumber" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column #TotalAmount attr="TotalAmount" title="TotalAmount" type="currency" editable="no" required="yes" currency-symbol="$" currency-symbol-position="left" thousand-separator=","decimal-separator="."></o-table-column>
        
          <o-table-column #ValidUntil attr="ValidUntil" title="ValidUntil" type="DATE" editable="no" required="yes" ></o-table-column>
        
          <o-table-column #LastUpdatedDate attr="LastUpdatedDate" title="LastUpdatedDate" type="DATE" editable="no" required="yes" ></o-table-column>
        
          <o-table-column #CreatedDate attr="CreatedDate" title="CreatedDate" type="DATETIME2" editable="no" required="yes" ></o-table-column>
        
          <o-table-column #CreatedBy attr="CreatedBy" title="CreatedBy" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column #ModifiedDate attr="ModifiedDate" title="ModifiedDate" type="DATETIME2" editable="no" required="no" ></o-table-column>
        
          <o-table-column #ModifiedBy attr="ModifiedBy" title="ModifiedBy" editable="no" required="no" content-align="left"></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
      </mat-tab-group>
      
    </o-form>
  </o-form-container>
</div>