<o-form #FormulaSubmissionPlantForm attr="FormulaSubmissionPlant_form_insert" service="FormulaSubmissionPlant" entity="FormulaSubmissionPlant"
keys="ID" fxLayout="column" show-header="yes" header-actions="I"
horizontal-scroll="yes"
after-insert-mode="new" class="standalone-form-container" >

<o-row attr="row1" layout-align="start stretch">
  <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
    
        <o-text-input #PlantName attr="PlantName" label=" Plant Name" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #PlantCode attr="PlantCode" label="PlantCode" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #ActionTaken attr="ActionTaken" label="ActionTaken" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #ProductionMode attr="ProductionMode" label="ProductionMode" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-integer-input #ID attr="ID" label="ID" type="integer" editable="no" required="no" ></o-integer-input>
      
        <o-integer-input #FormulaSubmissionID attr="FormulaSubmissionID" label="FormulaSubmissionID" type="integer" editable="no" required="yes" ></o-integer-input>
      
        <o-integer-input #Owns_ID attr="Owns_ID" label="Owns_ID" type="integer" editable="no" required="no" ></o-integer-input>
      
</div>
</o-row>

<div layout-padding></div>

</o-form>