<o-form #TaskInstanceForm attr="TaskInstance_form_insert" service="TaskInstance" entity="TaskInstance"
keys="TaskInstanceId" fxLayout="column" show-header="yes" header-actions="I"
horizontal-scroll="yes"
after-insert-mode="new" class="standalone-form-container" >

<o-row attr="row1" layout-align="start stretch">
  <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
    
        <o-integer-input #TaskInstanceId attr="TaskInstanceId" label=" Task Instance Id" type="integer" editable="no" required="no" ></o-integer-input>
      
        <o-list-picker 
        attr="StageId"
        service="StageInstance" 
        entity="StageInstanceType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="yes" 
        enabled="yes" 
        filter="yes"
        value-column="StageInstanceId" 
        value-column-type="INTEGER"  
        keys="StageInstanceId" 
        columns="StageInstanceId;StageId;StageInstanceId" 
        title="Stage"
        visible-columns="StageInstanceId;StageInstanceId" 
        separator=" - " width="680px" class="form-field">
</o-list-picker>
      
        <o-list-picker 
        attr="Status"
        service="TaskStatus" 
        entity="TaskStatusType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="yes" 
        enabled="yes" 
        filter="yes"
        value-column="StatusCode" 
        value-column-type="VARCHAR"  
        keys="StatusCode" 
        columns="StatusCode;Status;StatusDescription" 
        title="Status"
        visible-columns="StatusCode;StatusDescription" 
        separator=" - " width="680px" class="form-field">
</o-list-picker>
      
        <o-list-picker 
        attr="TaskId"
        service="TaskDefinition" 
        entity="TaskDefinitionType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="yes" 
        enabled="yes" 
        filter="yes"
        value-column="TaskId" 
        value-column-type="INTEGER"  
        keys="TaskId" 
        columns="TaskId;TaskId;TaskName" 
        title="Task"
        visible-columns="TaskId;TaskName" 
        separator=" - " width="680px" class="form-field">
</o-list-picker>
      
        <o-text-input #AssignedTo attr="AssignedTo" label="AssignedTo" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-date-input #StartedDate attr="StartedDate" value-type="string" label="StartedDate" editable="no" required="no" format="YYYY-MM-DD hh:mm:ss" fxFlex="20%" class="form-field"></o-date-input>
      
        <o-date-input #CompletedDate attr="CompletedDate" value-type="string" label="CompletedDate" editable="no" required="no" format="YYYY-MM-DD hh:mm:ss" fxFlex="20%" class="form-field"></o-date-input>
      
        <o-integer-input #DurationMinutes attr="DurationMinutes" label="DurationMinutes" type="integer" editable="no" required="no" ></o-integer-input>
      
        <o-text-input #Result attr="Result" label="Result" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #ResultData attr="ResultData" label="ResultData" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #ErrorMessage attr="ErrorMessage" label="ErrorMessage" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-integer-input #RetryCount attr="RetryCount" label="RetryCount" type="integer" editable="no" required="no" ></o-integer-input>
      
</div>
</o-row>

<div layout-padding></div>

</o-form>