<o-form-layout-manager attr="WFApplicationComment" mode="tab" title="WFAPPLICATIONCOMMENT">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="WFApplicationCommentTable" 
            service="WFApplicationComment" 
            entity="WFApplicationComment" 
            title="WFAPPLICATIONCOMMENT"
            keys="CommentID"
            columns="CommentID;ApplicationID;Author;CommentText;CommentType;Category;CreatedDate;CreatedBy;ModifiedDate;ModifiedBy" 
            header-actions="R;D"
            visible-columns="CommentID;ApplicationID;Author;CommentText;CommentType;Category;CreatedDate;CreatedBy;ModifiedDate;ModifiedBy"  
            sort-columns="CommentID" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #CommentID attr="CommentID" title=" Comment I D" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column attr="ApplicationID" title="ApplicationID">
    <o-table-cell-renderer-service attr="ApplicationID" 
        service="WFApplication" entity="WFApplicationType" columns="ApplicationID;ApplicationID"
        parent-keys="CommentID:ApplicationID"
        value-column="ApplicationID" keys="ApplicationID"
        visible-columns="ApplicationID" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column #Author attr="Author" title="Author" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column #CommentText attr="CommentText" title="CommentText" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column #CommentType attr="CommentType" title="CommentType" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column #Category attr="Category" title="Category" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #CreatedDate attr="CreatedDate" title="CreatedDate" type="DATETIME2" editable="no" required="yes" ></o-table-column>
            
            <o-table-column #CreatedBy attr="CreatedBy" title="CreatedBy" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column #ModifiedDate attr="ModifiedDate" title="ModifiedDate" type="DATETIME2" editable="no" required="no" ></o-table-column>
            
            <o-table-column #ModifiedBy attr="ModifiedBy" title="ModifiedBy" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>