<div class="container">
<o-form-container breadcrumb="yes" breadcrumb-label-columns="CommentTypeDescription" breadcrumb-separator=", " class="fill-form">
      <o-form #form attr="TaskCommentType_form_edit" 
        service="TaskCommentType" 
        entity="TaskCommentType" 
        fxLayout="column" 
        show-header="yes" 
        header-actions="R;U;D"
        #oDetailForm keys="CommentTypeCode" 
        keys-sql-types="VARCHAR" 
        show-header-navigation="yes"
        (onDataLoaded)="onDataLoaded($event)">

  <o-row attr="row1" layout-align="start stretch">
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
      
      <o-text-input #CommentTypeDescription attr="CommentTypeDescription" label=" Comment Type Description" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #CommentTypeCode attr="CommentTypeCode" label="CommentTypeCode" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
    </div>
  </o-row>
      
    </o-form>
  </o-form-container>
</div>