<o-form #INVOICEFEEForm attr="INVOICEFEE_form_insert" service="INVOICEFEE" entity="INVOICEFEE"
keys="INVOICE_ID" fxLayout="column" show-header="yes" header-actions="I"
horizontal-scroll="yes"
after-insert-mode="new" class="standalone-form-container" >

<o-row attr="row1" layout-align="start stretch">
  <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
    
        <o-integer-input #INVOICE_ID attr="INVOICE_ID" label=" I N V O I C E_ I D" type="integer" editable="no" required="no" ></o-integer-input>
      
        <!-- o-list-picker 
        attr="BILL_TO_PLANT_ID"
        service="PLANTTB" 
        entity="PLANTTBType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="no" 
        enabled="yes" 
        filter="yes"
        value-column="PLANT_ID" 
        value-column-type="INTEGER"  
        keys="PLANT_ID" 
        columns="PLANT_ID;BILL_TO_PLANT_ID;NAME" 
        title="BILL_TO_PLANT_ID"
        visible-columns="PLANT_ID;NAME" 
        separator=" - " width="680px" class="form-field">
</o-list-picker -->
      
        <!-- o-list-picker 
        attr="COMPANY_ID"
        service="COMPANYTB" 
        entity="COMPANYTBType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="yes" 
        enabled="yes" 
        filter="yes"
        value-column="COMPANY_ID" 
        value-column-type="INTEGER"  
        keys="COMPANY_ID" 
        columns="COMPANY_ID;COMPANY_ID;NAME" 
        title="COMPANY_ID"
        visible-columns="COMPANY_ID;NAME" 
        separator=" - " width="680px" class="form-field">
</o-list-picker -->
      
        <o-text-input #TYPE attr="TYPE" label="TYPE" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #INVOICE_TYPE attr="INVOICE_TYPE" label="INVOICE_TYPE" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-date-input #INVOICE_DATE attr="INVOICE_DATE" value-type="string" label="INVOICE_DATE" editable="no" required="no" format="YYYY-MM-DD hh:mm:ss" fxFlex="20%" class="form-field"></o-date-input>
      
        <o-text-input #FREQ attr="FREQ" label="FREQ" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-currency-input #TOTAL_AMOUNT attr="TOTAL_AMOUNT" title="TOTAL_AMOUNT" type="currency" editable="no" required="no" currency-symbol="$" currency-symbol-position="left" thousand-separator="," decimal-separator="."></o-currency-input>
      
        <o-text-input #STATUS attr="STATUS" label="STATUS" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-integer-input #REPLACED_BY attr="REPLACED_BY" label="REPLACED_BY" type="integer" editable="no" required="no" ></o-integer-input>
      
        <o-text-input #PAYMENT attr="PAYMENT" label="PAYMENT" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #CHECK_NO attr="CHECK_NO" label="CHECK_NO" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-date-input #CHECK_DATE attr="CHECK_DATE" value-type="string" label="CHECK_DATE" editable="no" required="no" format="YYYY-MM-DD hh:mm:ss" fxFlex="20%" class="form-field"></o-date-input>
      
        <o-text-input #OK_TO_POST attr="OK_TO_POST" label="OK_TO_POST" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #WHO attr="WHO" label="WHO" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-integer-input #REPLACEMENT_FOR attr="REPLACEMENT_FOR" label="REPLACEMENT_FOR" type="integer" editable="no" required="no" ></o-integer-input>
      
        <o-text-input #BATCH_ID_S36 attr="BATCH_ID_S36" label="BATCH_ID_S36" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-date-input #BATCH_DATE attr="BATCH_DATE" value-type="string" label="BATCH_DATE" editable="no" required="no" format="YYYY-MM-DD hh:mm:ss" fxFlex="20%" class="form-field"></o-date-input>
      
        <o-text-input #TRANSFER_FLAG attr="TRANSFER_FLAG" label="TRANSFER_FLAG" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #PRINT_FLAG attr="PRINT_FLAG" label="PRINT_FLAG" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #HOLD_FLAG attr="HOLD_FLAG" label="HOLD_FLAG" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #ATTACHED_LETTER attr="ATTACHED_LETTER" label="ATTACHED_LETTER" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-textarea-input #TIMESTAMP attr="TIMESTAMP"  label="TIMESTAMP" enabled="true" read-only="false" fxFlex="50%"></o-textarea-input>
      
        <o-text-input #COMMENT attr="COMMENT" label="COMMENT" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-integer-input #INVOICE_LEVEL attr="INVOICE_LEVEL" label="INVOICE_LEVEL" type="integer" editable="no" required="no" ></o-integer-input>
      
        <o-text-input #PurchaseOrder attr="PurchaseOrder" label="PurchaseOrder" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-date-input #DeliveryDate attr="DeliveryDate" value-type="string" label="DeliveryDate" enabled="yes" required="no" format="YYYY-MM-DD" fxFlex="20%" class="form-field"></o-date-input>
      
        <o-currency-input #OriginalInvoiceAmount attr="OriginalInvoiceAmount" title="OriginalInvoiceAmount" type="currency" editable="no" required="no" currency-symbol="$" currency-symbol-position="left" thousand-separator="," decimal-separator="."></o-currency-input>
      
        <o-text-input #ValidFromTime attr="ValidFromTime" label="ValidFromTime" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #ValidToTime attr="ValidToTime" label="ValidToTime" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-date-input #PeriodStart attr="PeriodStart" value-type="string" label="PeriodStart" editable="no" required="no" format="YYYY-MM-DD hh:mm:ss" fxFlex="20%" class="form-field"></o-date-input>
      
        <o-real-input #BalanceInAccounting attr="BalanceInAccounting" label="BalanceInAccounting" min-decimal-digits="2" max-decimal-digits="4" min="0" max="1000000000" fxFlex="20%" class="form-field"></o-real-input>
      
        <o-date-input #DATE_POSTED attr="DATE_POSTED" value-type="string" label="DATE_POSTED" editable="no" required="no" format="YYYY-MM-DD hh:mm:ss" fxFlex="20%" class="form-field"></o-date-input>
      
        <o-date-input #CHECK_RECEIVED attr="CHECK_RECEIVED" value-type="string" label="CHECK_RECEIVED" editable="no" required="no" format="YYYY-MM-DD hh:mm:ss" fxFlex="20%" class="form-field"></o-date-input>
      
        <o-integer-input #BILL_TO_CO_ID attr="BILL_TO_CO_ID" label="BILL_TO_CO_ID" type="integer" editable="no" required="no" ></o-integer-input>
      
        <o-integer-input #ID attr="ID" label="ID" type="integer" editable="no" required="no" ></o-integer-input>
      
        <o-text-input #DeliveryMethod attr="DeliveryMethod" label="DeliveryMethod" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-integer-input #CHANGESET_ID attr="CHANGESET_ID" label="CHANGESET_ID" type="integer" editable="no" required="no" ></o-integer-input>
      
        <o-checkbox #achPaid attr="achPaid" label="achPaid" read-only="no" enabled="yes"></o-checkbox>
      
        <o-integer-input #BatchId attr="BatchId" label="BatchId" type="integer" editable="no" required="no" ></o-integer-input>
      
        <o-date-input #PeriodEnd attr="PeriodEnd" value-type="string" label="PeriodEnd" editable="no" required="no" format="YYYY-MM-DD hh:mm:ss" fxFlex="20%" class="form-field"></o-date-input>
      
</div>
</o-row>

<div layout-padding></div>

</o-form>