<o-form-layout-manager attr="MERCHOTHERNAME" mode="tab" title="MERCHOTHERNAME">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="MERCHOTHERNAMETable" 
            service="MERCHOTHERNAME" 
            entity="MERCHOTHERNAME" 
            title="MERCHOTHERNAME"
            keys="ID"
            columns="ID;MERCHANDISE_ID;TYPE;TIMESTAMP;ALIAS_ID" 
            header-actions="R;D"
            visible-columns="ID;MERCHANDISE_ID;TYPE;TIMESTAMP;ALIAS_ID"  
            sort-columns="ID" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #ID attr="ID" title=" I D" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <!-- o-table-column attr="MERCHANDISE_ID" title="MERCHANDISE_ID">
    <o-table-cell-renderer-service attr="MERCHANDISE_ID" 
        service="MERCHTB" entity="MERCHTBType" columns="MERCHANDISE_ID;NAME"
        parent-keys="ID:MERCHANDISE_ID"
        value-column="NAME" keys="MERCHANDISE_ID"
        visible-columns="NAME" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column -->
            
            <o-table-column #TYPE attr="TYPE" title="TYPE" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #TIMESTAMP attr="TIMESTAMP" title="TIMESTAMP" type="BINARY" editable="no" required="no" ></o-table-column>
            
            <o-table-column #ALIAS_ID attr="ALIAS_ID" title="ALIAS_ID" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>