<div class="container">
<o-form-container breadcrumb="yes" breadcrumb-label-columns="Description" breadcrumb-separator=", " class="fill-form">
      <o-form #form attr="AchStripePayment_form_edit" 
        service="AchStripePayment" 
        entity="AchStripePayment" 
        fxLayout="column" 
        show-header="yes" 
        header-actions="R;U;D"
        #oDetailForm keys="Id" 
        keys-sql-types="INTEGER" 
        show-header-navigation="yes"
        (onDataLoaded)="onDataLoaded($event)">

  <o-row attr="row1" layout-align="start stretch">
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
      
      <o-text-input #Description attr="Description" label=" Description" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <!-- o-list-picker 
        attr="company_id"
        service="COMPANYTB" 
        entity="COMPANYTBType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="yes" 
        enabled="yes" 
        filter="yes"
        value-column="COMPANY_ID" 
        value-column-type="INTEGER"  
        keys="COMPANY_ID" 
        columns="COMPANY_ID;company_id;NAME" 
        title="company_id"
        visible-columns="COMPANY_ID;NAME" 
        separator=" - " width="680px" class="form-field">
</o-list-picker -->
      
      <o-text-input #UserLogin attr="UserLogin" label="UserLogin" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-currency-input #Amount attr="Amount" title="Amount" type="currency" editable="no" required="no" currency-symbol="$" currency-symbol-position="left" thousand-separator="," decimal-separator="."></o-currency-input>
      
      <o-text-input #Currency attr="Currency" label="Currency" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #ReceiptEmail attr="ReceiptEmail" label="ReceiptEmail" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #JsonRet attr="JsonRet" label="JsonRet" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #ValidFromTime attr="ValidFromTime" label="ValidFromTime" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #ValidToTime attr="ValidToTime" label="ValidToTime" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #ProcessorType attr="ProcessorType" label="ProcessorType" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-currency-input #FeeAmount attr="FeeAmount" title="FeeAmount" type="currency" editable="no" required="no" currency-symbol="$" currency-symbol-position="left" thousand-separator="," decimal-separator="."></o-currency-input>
      
      <o-text-input #Comments attr="Comments" label="Comments" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-integer-input #Id attr="Id" label="Id" type="integer" editable="no" required="no" ></o-integer-input>
      
      <o-text-input #StripeId attr="StripeId" label="StripeId" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-integer-input #CHANGESET_ID attr="CHANGESET_ID" label="CHANGESET_ID" type="integer" editable="no" required="no" ></o-integer-input>
      
      <o-text-input #CardKnoxId attr="CardKnoxId" label="CardKnoxId" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-checkbox #CustomerFeeWaived attr="CustomerFeeWaived" label="CustomerFeeWaived" read-only="no" enabled="yes"></o-checkbox>
      
    </div>
  </o-row>
      
      <mat-tab-group fxFill>
        
        <mat-tab label="ACHSTRIPEPAYMENTDETAIL-AchStripePaymentId">
    <div layout-padding>
      <o-table 
        attr="AchStripePaymentDetailTable" 
        service="AchStripePaymentDetail" 
        entity="AchStripePaymentDetail" 
        keys="Id"
        parent-keys="AchStripePaymentId:Id"
        columns="Id;AchStripePaymentId;DocumentNumber;Amount;TransactionBalance;ValidFromTime;ValidToTime;CHANGESET_ID"  
        horizontal-scroll="yes"
        detail-form-route="AchStripePaymentDetail" 
        edit-form-route="AchStripePaymentDetail"
        visible-columns="Id;AchStripePaymentId;DocumentNumber;Amount;TransactionBalance;ValidFromTime;ValidToTime;CHANGESET_ID"  
        sort-columns="Id" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #Id attr="Id" title=" Id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <!-- o-table-column attr="AchStripePaymentId" title="AchStripePayment">
    <o-table-cell-renderer-service attr="AchStripePaymentId" 
        service="AchStripePayment" entity="AchStripePaymentType" columns="Id;Description"
        parent-keys="Id:AchStripePaymentId"
        value-column="Description" keys="AchStripePaymentId"
        visible-columns="Description" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column -->
        
          <o-table-column #DocumentNumber attr="DocumentNumber" title="DocumentNumber" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #Amount attr="Amount" title="Amount" type="currency" editable="no" required="no" currency-symbol="$" currency-symbol-position="left" thousand-separator=","decimal-separator="."></o-table-column>
        
          <o-table-column #TransactionBalance attr="TransactionBalance" title="TransactionBalance" type="real" min-decimal-digits="2" max-decimal-digits="4" min="0" max="1000000.0000" content-align="center"></o-table-column>
        
          <o-table-column #ValidFromTime attr="ValidFromTime" title="ValidFromTime" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column #ValidToTime attr="ValidToTime" title="ValidToTime" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column #CHANGESET_ID attr="CHANGESET_ID" title="CHANGESET_ID" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
      </mat-tab-group>
      
    </o-form>
  </o-form-container>
</div>