<div class="container">
<o-form-container breadcrumb="yes" breadcrumb-label-columns="Username" breadcrumb-separator=", " class="fill-form">
      <o-form #form attr="WFUser_form_edit" 
        service="WFUser" 
        entity="WFUser" 
        fxLayout="column" 
        show-header="yes" 
        header-actions="R;U;D"
        #oDetailForm keys="Username" 
        keys-sql-types="VARCHAR" 
        show-header-navigation="yes"
        (onDataLoaded)="onDataLoaded($event)">

  <o-row attr="row1" layout-align="start stretch">
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
      
      <o-text-input #Username attr="Username" label=" Username" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #Email attr="Email" label="Email" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #FullName attr="FullName" label="FullName" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-checkbox #IsActive attr="IsActive" label="IsActive" read-only="no" enabled="yes"></o-checkbox>
      
      <o-date-input #CreatedDate attr="CreatedDate" value-type="string" label="CreatedDate" editable="no" required="yes" format="YYYY-MM-DD hh:mm:ss" fxFlex="20%" class="form-field"></o-date-input>
      
      <o-date-input #LastLoginDate attr="LastLoginDate" value-type="string" label="LastLoginDate" editable="no" required="no" format="YYYY-MM-DD hh:mm:ss" fxFlex="20%" class="form-field"></o-date-input>
      
    </div>
  </o-row>
      
      <mat-tab-group fxFill>
        
        <mat-tab label="ROLEASSIGMENT-Assignee">
    <div layout-padding>
      <o-table 
        attr="RoleAssigmentTable" 
        service="RoleAssigment" 
        entity="RoleAssigment" 
        keys="RoleAssigmentID"
        parent-keys="Assignee:Username"
        columns="RoleAssigmentID;ApplicationId;Assignee;Role;CreatedDate;CreatedBy"  
        horizontal-scroll="yes"
        detail-form-route="RoleAssigment" 
        edit-form-route="RoleAssigment"
        visible-columns="RoleAssigmentID;ApplicationId;Assignee;Role;CreatedDate;CreatedBy"  
        sort-columns="RoleAssigmentID" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #RoleAssigmentID attr="RoleAssigmentID" title=" Role Assigment I D" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="ApplicationId" title="Application">
    <o-table-cell-renderer-service attr="ApplicationId" 
        service="WFApplication" entity="WFApplicationType" columns="ApplicationID;ApplicationID"
        parent-keys="Username:ApplicationId"
        value-column="ApplicationID" keys="ApplicationId"
        visible-columns="ApplicationID" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #Assignee attr="Assignee" title="Assignee" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column #Role attr="Role" title="Role" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column #CreatedDate attr="CreatedDate" title="CreatedDate" type="DATETIME2" editable="no" required="yes" ></o-table-column>
        
          <o-table-column #CreatedBy attr="CreatedBy" title="CreatedBy" editable="no" required="yes" content-align="left"></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
        <mat-tab label="WFAPPLICATIONMESSAGE-FromUser">
    <div layout-padding>
      <o-table 
        attr="WFApplicationMessageTable" 
        service="WFApplicationMessage" 
        entity="WFApplicationMessage" 
        keys="MessageID"
        parent-keys="FromUser:Username"
        columns="MessageID;ApplicationID;FromUser;Priority;ToUser;MessageText;MessageType;SentDate"  
        horizontal-scroll="yes"
        detail-form-route="WFApplicationMessage" 
        edit-form-route="WFApplicationMessage"
        visible-columns="MessageID;ApplicationID;FromUser;Priority;ToUser;MessageText;MessageType;SentDate"  
        sort-columns="MessageID" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #MessageID attr="MessageID" title=" Message I D" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="ApplicationID" title="ApplicationID">
    <o-table-cell-renderer-service attr="ApplicationID" 
        service="WFApplication" entity="WFApplicationType" columns="ApplicationID;ApplicationID"
        parent-keys="Username:ApplicationID"
        value-column="ApplicationID" keys="ApplicationID"
        visible-columns="ApplicationID" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #FromUser attr="FromUser" title="FromUser" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column #Priority attr="Priority" title="Priority" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column #ToUser attr="ToUser" title="ToUser" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #MessageText attr="MessageText" title="MessageText" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column #MessageType attr="MessageType" title="MessageType" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column #SentDate attr="SentDate" title="SentDate" type="DATETIME2" editable="no" required="yes" ></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
        <mat-tab label="WFAPPLICATIONMESSAGE-ToUser">
    <div layout-padding>
      <o-table 
        attr="WFApplicationMessageTable" 
        service="WFApplicationMessage" 
        entity="WFApplicationMessage" 
        keys="MessageID"
        parent-keys="ToUser:Username"
        columns="MessageID;ApplicationID;FromUser;Priority;ToUser;MessageText;MessageType;SentDate"  
        horizontal-scroll="yes"
        detail-form-route="WFApplicationMessage" 
        edit-form-route="WFApplicationMessage"
        visible-columns="MessageID;ApplicationID;FromUser;Priority;ToUser;MessageText;MessageType;SentDate"  
        sort-columns="MessageID" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #MessageID attr="MessageID" title=" Message I D" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="ApplicationID" title="ApplicationID">
    <o-table-cell-renderer-service attr="ApplicationID" 
        service="WFApplication" entity="WFApplicationType" columns="ApplicationID;ApplicationID"
        parent-keys="Username:ApplicationID"
        value-column="ApplicationID" keys="ApplicationID"
        visible-columns="ApplicationID" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #FromUser attr="FromUser" title="FromUser" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column #Priority attr="Priority" title="Priority" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column #ToUser attr="ToUser" title="ToUser" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #MessageText attr="MessageText" title="MessageText" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column #MessageType attr="MessageType" title="MessageType" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column #SentDate attr="SentDate" title="SentDate" type="DATETIME2" editable="no" required="yes" ></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
        <mat-tab label="WFUSERADMIN-AdminUserName">
    <div layout-padding>
      <o-table 
        attr="WFUSERADMINTable" 
        service="WFUSERADMIN" 
        entity="WFUSERADMIN" 
        keys="UserName;AdminUserName"
        parent-keys="AdminUserName:Username"
        columns="UserName;AdminUserName;IsPrimary;CreatedDate"  
        horizontal-scroll="yes"
        detail-form-route="WFUSERADMIN" 
        edit-form-route="WFUSERADMIN"
        visible-columns="UserName;AdminUserName;IsPrimary;CreatedDate"  
        sort-columns="UserName" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #UserName attr="UserName" title=" User Name" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column #AdminUserName attr="AdminUserName" title="AdminUserName" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column attr="IsPrimary" title="IsPrimary">
    <o-table-cell-renderer-boolean render-true-value="check_circle" render-false-value="highlight_off"
        render-type="icon" boolean-type="boolean" true-value="true" false-value="false"></o-table-cell-renderer-boolean>
</o-table-column>
        
          <o-table-column #CreatedDate attr="CreatedDate" title="CreatedDate" type="DATETIME2" editable="no" required="yes" ></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
        <mat-tab label="WFUSERADMIN-UserName">
    <div layout-padding>
      <o-table 
        attr="WFUSERADMINTable" 
        service="WFUSERADMIN" 
        entity="WFUSERADMIN" 
        keys="UserName;AdminUserName"
        parent-keys="UserName:Username"
        columns="UserName;AdminUserName;IsPrimary;CreatedDate"  
        horizontal-scroll="yes"
        detail-form-route="WFUSERADMIN" 
        edit-form-route="WFUSERADMIN"
        visible-columns="UserName;AdminUserName;IsPrimary;CreatedDate"  
        sort-columns="UserName" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #UserName attr="UserName" title=" User Name" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column #AdminUserName attr="AdminUserName" title="AdminUserName" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column attr="IsPrimary" title="IsPrimary">
    <o-table-cell-renderer-boolean render-true-value="check_circle" render-false-value="highlight_off"
        render-type="icon" boolean-type="boolean" true-value="true" false-value="false"></o-table-cell-renderer-boolean>
</o-table-column>
        
          <o-table-column #CreatedDate attr="CreatedDate" title="CreatedDate" type="DATETIME2" editable="no" required="yes" ></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
        <mat-tab label="WFUSERROLE-UserName">
    <div layout-padding>
      <o-table 
        attr="WFUSERROLETable" 
        service="WFUSERROLE" 
        entity="WFUSERROLE" 
        keys="UserName;UserRole"
        parent-keys="UserName:Username"
        columns="UserName;UserRole;CreatedDate"  
        horizontal-scroll="yes"
        detail-form-route="WFUSERROLE" 
        edit-form-route="WFUSERROLE"
        visible-columns="UserName;UserRole;CreatedDate"  
        sort-columns="UserName" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #UserName attr="UserName" title=" User Name" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column #UserRole attr="UserRole" title="UserRole" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column #CreatedDate attr="CreatedDate" title="CreatedDate" type="DATETIME2" editable="no" required="yes" ></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
      </mat-tab-group>
      
    </o-form>
  </o-form-container>
</div>