<o-form #ASSIGNEDMASHGIACHTBForm attr="ASSIGNEDMASHGIACHTB_form_insert" service="ASSIGNEDMASHGIACHTB" entity="ASSIGNEDMASHGIACHTB"
keys="ID" fxLayout="column" show-header="yes" header-actions="I"
horizontal-scroll="yes"
after-insert-mode="new" class="standalone-form-container" >

<o-row attr="row1" layout-align="start stretch">
  <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
    
        <o-integer-input #ID attr="ID" label=" I D" type="integer" editable="no" required="no" ></o-integer-input>
      
        <o-date-input #START_DATE attr="START_DATE" value-type="string" label="START_DATE" editable="no" required="no" format="YYYY-MM-DD hh:mm:ss" fxFlex="20%" class="form-field"></o-date-input>
      
        <o-date-input #END_DATE attr="END_DATE" value-type="string" label="END_DATE" editable="no" required="no" format="YYYY-MM-DD hh:mm:ss" fxFlex="20%" class="form-field"></o-date-input>
      
        <o-text-input #VIST_TYPE attr="VIST_TYPE" label="VIST_TYPE" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #VISIT_PERIOD1 attr="VISIT_PERIOD1" label="VISIT_PERIOD1" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #VISIT_PERIOD2 attr="VISIT_PERIOD2" label="VISIT_PERIOD2" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #VISIT_PERIOD3 attr="VISIT_PERIOD3" label="VISIT_PERIOD3" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #VISIT_PERIOD_SEASONAL attr="VISIT_PERIOD_SEASONAL" label="VISIT_PERIOD_SEASONAL" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #SEASONAL_START attr="SEASONAL_START" label="SEASONAL_START" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #DESIGNATED_MASHGIACH_FLAG attr="DESIGNATED_MASHGIACH_FLAG" label="DESIGNATED_MASHGIACH_FLAG" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-integer-input #ACTIVE attr="ACTIVE" label="ACTIVE" type="integer" editable="no" required="no" ></o-integer-input>
      
        <o-text-input #DESIGNATED_MASHGIACH attr="DESIGNATED_MASHGIACH" label="DESIGNATED_MASHGIACH" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-date-input #TimestampDateTime attr="TimestampDateTime" value-type="string" label="TimestampDateTime" editable="no" required="no" format="YYYY-MM-DD hh:mm:ss" fxFlex="20%" class="form-field"></o-date-input>
      
        <o-date-input #Timestamp attr="Timestamp" value-type="string" label="Timestamp" editable="no" required="no" format="YYYY-MM-DD hh:mm:ss" fxFlex="20%" class="form-field"></o-date-input>
      
        <o-text-input #CreatedBy attr="CreatedBy" label="CreatedBy" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-date-input #CreatedDate attr="CreatedDate" value-type="string" label="CreatedDate" editable="no" required="no" format="YYYY-MM-DD hh:mm:ss" fxFlex="20%" class="form-field"></o-date-input>
      
        <o-text-input #Discriminator attr="Discriminator" label="Discriminator" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #Zone attr="Zone" label="Zone" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #ValidFromTime attr="ValidFromTime" label="ValidFromTime" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #ValidToTime attr="ValidToTime" label="ValidToTime" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-integer-input #OnSiteVisits attr="OnSiteVisits" label="OnSiteVisits" type="integer" editable="no" required="yes" ></o-integer-input>
      
        <o-integer-input #VirtualVisits attr="VirtualVisits" label="VirtualVisits" type="integer" editable="no" required="yes" ></o-integer-input>
      
        <o-checkbox #IsDaily attr="IsDaily" label="IsDaily" read-only="no" enabled="yes"></o-checkbox>
      
        <o-integer-input #SeasonalStart attr="SeasonalStart" label="SeasonalStart" type="integer" editable="no" required="yes" ></o-integer-input>
      
        <o-integer-input #PLANT_ID attr="PLANT_ID" label="PLANT_ID" type="integer" editable="no" required="no" ></o-integer-input>
      
        <o-integer-input #PERSON_JOB_ID attr="PERSON_JOB_ID" label="PERSON_JOB_ID" type="integer" editable="no" required="no" ></o-integer-input>
      
        <o-text-input #SEASONAL_END attr="SEASONAL_END" label="SEASONAL_END" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-integer-input #OWNS_ID attr="OWNS_ID" label="OWNS_ID" type="integer" editable="no" required="no" ></o-integer-input>
      
        <o-integer-input #company_id attr="company_id" label="company_id" type="integer" editable="no" required="no" ></o-integer-input>
      
        <o-integer-input #CHANGESET_ID attr="CHANGESET_ID" label="CHANGESET_ID" type="integer" editable="no" required="no" ></o-integer-input>
      
        <o-checkbox #IsAsNeeded attr="IsAsNeeded" label="IsAsNeeded" read-only="no" enabled="yes"></o-checkbox>
      
        <o-integer-input #SeasonalEnd attr="SeasonalEnd" label="SeasonalEnd" type="integer" editable="no" required="yes" ></o-integer-input>
      
</div>
</o-row>

<div layout-padding></div>

</o-form>