<o-form-layout-manager attr="StageStatus" mode="tab" title="STAGESTATUS">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="StageStatusTable" 
            service="StageStatus" 
            entity="StageStatus" 
            title="STAGESTATUS"
            keys="StatusCode"
            columns="StatusDescription;StatusCode" 
            header-actions="R;D"
            visible-columns="StatusDescription;StatusCode"  
            sort-columns="StatusDescription" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #StatusDescription attr="StatusDescription" title=" Status Description" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column #StatusCode attr="StatusCode" title="StatusCode" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>