<div class="container">
<o-form-container breadcrumb="yes" breadcrumb-label-columns="TaskName" breadcrumb-separator=", " class="fill-form">
      <o-form #form attr="TaskDefinition_form_edit" 
        service="TaskDefinition" 
        entity="TaskDefinition" 
        fxLayout="column" 
        show-header="yes" 
        header-actions="R;U;D"
        #oDetailForm keys="TaskId" 
        keys-sql-types="INTEGER" 
        show-header-navigation="yes"
        (onDataLoaded)="onDataLoaded($event)">

  <o-row attr="row1" layout-align="start stretch">
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
      
      <o-text-input #TaskName attr="TaskName" label=" Task Name" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-list-picker 
        attr="LaneId"
        service="LaneDefinition" 
        entity="LaneDefinitionType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="yes" 
        enabled="yes" 
        filter="yes"
        value-column="LaneId" 
        value-column-type="INTEGER"  
        keys="LaneId" 
        columns="LaneId;LaneId;LaneName" 
        title="Lane"
        visible-columns="LaneId;LaneName" 
        separator=" - " width="680px" class="form-field">
</o-list-picker>
      
      <o-list-picker 
        attr="ProcessId"
        service="ProcessDefinition" 
        entity="ProcessDefinitionType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="yes" 
        enabled="yes" 
        filter="yes"
        value-column="ProcessId" 
        value-column-type="INTEGER"  
        keys="ProcessId" 
        columns="ProcessId;ProcessId;ProcessName" 
        title="Process"
        visible-columns="ProcessId;ProcessName" 
        separator=" - " width="680px" class="form-field">
</o-list-picker>
      
      <o-list-picker 
        attr="TaskCategory"
        service="TaskCategory" 
        entity="TaskCategoryType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="no" 
        enabled="yes" 
        filter="yes"
        value-column="TaskCategoryCode" 
        value-column-type="VARCHAR"  
        keys="TaskCategoryCode" 
        columns="TaskCategoryCode;TaskCategory;TaskCategoryDescription" 
        title="TaskCategory"
        visible-columns="TaskCategoryCode;TaskCategoryDescription" 
        separator=" - " width="680px" class="form-field">
</o-list-picker>
      
      <o-list-picker 
        attr="TaskType"
        service="TaskType" 
        entity="TaskTypeType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="yes" 
        enabled="yes" 
        filter="yes"
        value-column="TaskTypeCode" 
        value-column-type="VARCHAR"  
        keys="TaskTypeCode" 
        columns="TaskTypeCode;TaskType;TaskTypeDescription" 
        title="TaskType"
        visible-columns="TaskTypeCode;TaskTypeDescription" 
        separator=" - " width="680px" class="form-field">
</o-list-picker>
      
      <o-integer-input #Sequence attr="Sequence" label="Sequence" type="integer" editable="no" required="yes" ></o-integer-input>
      
      <o-checkbox #IsParallel attr="IsParallel" label="IsParallel" read-only="no" enabled="yes"></o-checkbox>
      
      <o-text-input #AssigneeRole attr="AssigneeRole" label="AssigneeRole" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-integer-input #EstimatedDurationMinutes attr="EstimatedDurationMinutes" label="EstimatedDurationMinutes" type="integer" editable="no" required="no" ></o-integer-input>
      
      <o-checkbox #AutoComplete attr="AutoComplete" label="AutoComplete" read-only="no" enabled="yes"></o-checkbox>
      
      <o-text-input #Description attr="Description" label="Description" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #ConfigurationJson attr="ConfigurationJson" label="ConfigurationJson" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-integer-input #TaskId attr="TaskId" label="TaskId" type="integer" editable="no" required="no" ></o-integer-input>
      
      <o-checkbox #IsRequired attr="IsRequired" label="IsRequired" read-only="no" enabled="yes"></o-checkbox>
      
    </div>
  </o-row>
      
      <mat-tab-group fxFill>
        
        <mat-tab label="PROCESSINSTANCE-CurrentTaskId">
    <div layout-padding>
      <o-table 
        attr="ProcessInstanceTable" 
        service="ProcessInstance" 
        entity="ProcessInstance" 
        keys="InstanceId"
        parent-keys="CurrentTaskId:TaskId"
        columns="InstanceId;CurrentTaskId;Priority;ProcessId;Status;StartedDate;StartedBy;CompletedDate;CompletedBy;ContextData;ApplicationId"  
        horizontal-scroll="yes"
        detail-form-route="ProcessInstance" 
        edit-form-route="ProcessInstance"
        visible-columns="InstanceId;CurrentTaskId;Priority;ProcessId;Status;StartedDate;StartedBy;CompletedDate;CompletedBy;ContextData;ApplicationId"  
        sort-columns="InstanceId" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #InstanceId attr="InstanceId" title=" Instance Id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="CurrentTaskId" title="CurrentTask">
    <o-table-cell-renderer-service attr="CurrentTaskId" 
        service="TaskDefinition" entity="TaskDefinitionType" columns="TaskId;TaskName"
        parent-keys="TaskId:CurrentTaskId"
        value-column="TaskName" keys="CurrentTaskId"
        visible-columns="TaskName" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #Priority attr="Priority" title="Priority" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column attr="ProcessId" title="Process">
    <o-table-cell-renderer-service attr="ProcessId" 
        service="ProcessDefinition" entity="ProcessDefinitionType" columns="ProcessId;ProcessName"
        parent-keys="TaskId:ProcessId"
        value-column="ProcessName" keys="ProcessId"
        visible-columns="ProcessName" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #Status attr="Status" title="Status" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column #StartedDate attr="StartedDate" title="StartedDate" type="DATETIME2" editable="no" required="yes" ></o-table-column>
        
          <o-table-column #StartedBy attr="StartedBy" title="StartedBy" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column #CompletedDate attr="CompletedDate" title="CompletedDate" type="DATETIME2" editable="no" required="no" ></o-table-column>
        
          <o-table-column #CompletedBy attr="CompletedBy" title="CompletedBy" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #ContextData attr="ContextData" title="ContextData" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #ApplicationId attr="ApplicationId" title="ApplicationId" type="integer" editable="no" required="yes" content-align="center"></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
        <mat-tab label="TASKFLOW-FromTaskId">
    <div layout-padding>
      <o-table 
        attr="TaskFlowTable" 
        service="TaskFlow" 
        entity="TaskFlow" 
        keys="FlowId"
        parent-keys="FromTaskId:TaskId"
        columns="FlowId;FromTaskId;ToTaskId;Condition;IsDefault"  
        horizontal-scroll="yes"
        detail-form-route="TaskFlow" 
        edit-form-route="TaskFlow"
        visible-columns="FlowId;FromTaskId;ToTaskId;Condition;IsDefault"  
        sort-columns="FlowId" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #FlowId attr="FlowId" title=" Flow Id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="FromTaskId" title="FromTask">
    <o-table-cell-renderer-service attr="FromTaskId" 
        service="TaskDefinition" entity="TaskDefinitionType" columns="TaskId;TaskName"
        parent-keys="TaskId:FromTaskId"
        value-column="TaskName" keys="FromTaskId"
        visible-columns="TaskName" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="ToTaskId" title="ToTask">
    <o-table-cell-renderer-service attr="ToTaskId" 
        service="TaskDefinition" entity="TaskDefinitionType" columns="TaskId;TaskName"
        parent-keys="TaskId:ToTaskId"
        value-column="TaskName" keys="ToTaskId"
        visible-columns="TaskName" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #Condition attr="Condition" title="Condition" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column attr="IsDefault" title="IsDefault">
    <o-table-cell-renderer-boolean render-true-value="check_circle" render-false-value="highlight_off"
        render-type="icon" boolean-type="boolean" true-value="true" false-value="false"></o-table-cell-renderer-boolean>
</o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
        <mat-tab label="TASKFLOW-ToTaskId">
    <div layout-padding>
      <o-table 
        attr="TaskFlowTable" 
        service="TaskFlow" 
        entity="TaskFlow" 
        keys="FlowId"
        parent-keys="ToTaskId:TaskId"
        columns="FlowId;FromTaskId;ToTaskId;Condition;IsDefault"  
        horizontal-scroll="yes"
        detail-form-route="TaskFlow" 
        edit-form-route="TaskFlow"
        visible-columns="FlowId;FromTaskId;ToTaskId;Condition;IsDefault"  
        sort-columns="FlowId" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #FlowId attr="FlowId" title=" Flow Id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="FromTaskId" title="FromTask">
    <o-table-cell-renderer-service attr="FromTaskId" 
        service="TaskDefinition" entity="TaskDefinitionType" columns="TaskId;TaskName"
        parent-keys="TaskId:FromTaskId"
        value-column="TaskName" keys="FromTaskId"
        visible-columns="TaskName" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="ToTaskId" title="ToTask">
    <o-table-cell-renderer-service attr="ToTaskId" 
        service="TaskDefinition" entity="TaskDefinitionType" columns="TaskId;TaskName"
        parent-keys="TaskId:ToTaskId"
        value-column="TaskName" keys="ToTaskId"
        visible-columns="TaskName" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #Condition attr="Condition" title="Condition" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column attr="IsDefault" title="IsDefault">
    <o-table-cell-renderer-boolean render-true-value="check_circle" render-false-value="highlight_off"
        render-type="icon" boolean-type="boolean" true-value="true" false-value="false"></o-table-cell-renderer-boolean>
</o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
        <mat-tab label="TASKINSTANCE-TaskId">
    <div layout-padding>
      <o-table 
        attr="TaskInstanceTable" 
        service="TaskInstance" 
        entity="TaskInstance" 
        keys="TaskInstanceId"
        parent-keys="TaskId:TaskId"
        columns="TaskInstanceId;StageId;Status;TaskId;AssignedTo;StartedDate;CompletedDate;DurationMinutes;Result;ResultData;ErrorMessage;RetryCount"  
        horizontal-scroll="yes"
        detail-form-route="TaskInstance" 
        edit-form-route="TaskInstance"
        visible-columns="TaskInstanceId;StageId;Status;TaskId;AssignedTo;StartedDate;CompletedDate;DurationMinutes;Result;ResultData;ErrorMessage;RetryCount"  
        sort-columns="TaskInstanceId" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #TaskInstanceId attr="TaskInstanceId" title=" Task Instance Id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="StageId" title="Stage">
    <o-table-cell-renderer-service attr="StageId" 
        service="StageInstance" entity="StageInstanceType" columns="StageInstanceId;StageInstanceId"
        parent-keys="TaskId:StageId"
        value-column="StageInstanceId" keys="StageId"
        visible-columns="StageInstanceId" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #Status attr="Status" title="Status" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column attr="TaskId" title="Task">
    <o-table-cell-renderer-service attr="TaskId" 
        service="TaskDefinition" entity="TaskDefinitionType" columns="TaskId;TaskName"
        parent-keys="TaskId:TaskId"
        value-column="TaskName" keys="TaskId"
        visible-columns="TaskName" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #AssignedTo attr="AssignedTo" title="AssignedTo" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #StartedDate attr="StartedDate" title="StartedDate" type="DATETIME2" editable="no" required="no" ></o-table-column>
        
          <o-table-column #CompletedDate attr="CompletedDate" title="CompletedDate" type="DATETIME2" editable="no" required="no" ></o-table-column>
        
          <o-table-column #DurationMinutes attr="DurationMinutes" title="DurationMinutes" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column #Result attr="Result" title="Result" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #ResultData attr="ResultData" title="ResultData" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #ErrorMessage attr="ErrorMessage" title="ErrorMessage" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #RetryCount attr="RetryCount" title="RetryCount" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
      </mat-tab-group>
      
    </o-form>
  </o-form-container>
</div>