<o-form-layout-manager attr="COMPANYFEECOMMENT" mode="tab" title="COMPANYFEECOMMENT">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="COMPANYFEECOMMENTTable" 
            service="COMPANYFEECOMMENT" 
            entity="COMPANYFEECOMMENT" 
            title="COMPANYFEECOMMENT"
            keys="ID"
            columns="ID;COMPANY_ID;TIMESTAMP;COMMENT_ID;CHANGESET_ID" 
            header-actions="R;D"
            visible-columns="ID;COMPANY_ID;TIMESTAMP;COMMENT_ID;CHANGESET_ID"  
            sort-columns="ID" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #ID attr="ID" title=" I D" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column attr="COMPANY_ID" title="COMPANY_ID">
    <o-table-cell-renderer-service attr="COMPANY_ID" 
        service="COMPANYTB" entity="COMPANYTBType" columns="COMPANY_ID;NAME"
        parent-keys="ID:COMPANY_ID"
        value-column="NAME" keys="COMPANY_ID"
        visible-columns="NAME" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column #TIMESTAMP attr="TIMESTAMP" title="TIMESTAMP" type="BINARY" editable="no" required="no" ></o-table-column>
            
            <o-table-column #COMMENT_ID attr="COMMENT_ID" title="COMMENT_ID" type="integer" editable="no" required="yes" content-align="center"></o-table-column>
            
            <o-table-column #CHANGESET_ID attr="CHANGESET_ID" title="CHANGESET_ID" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>