<o-form-layout-manager attr="CoPackerFacilitiesCategory" mode="tab" title="COPACKERFACILITIESCATEGORY">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="CoPackerFacilitiesCategoryTable" 
            service="CoPackerFacilitiesCategory" 
            entity="CoPackerFacilitiesCategory" 
            title="COPACKERFACILITIESCATEGORY"
            keys="ID"
            columns="ID;CoPackerId;Category;CategoryParent;ValidFromTime;ValidToTime;CategoryChild;CHANGESET_ID" 
            header-actions="R;D"
            visible-columns="ID;CoPackerId;Category;CategoryParent;ValidFromTime;ValidToTime;CategoryChild;CHANGESET_ID"  
            sort-columns="ID" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #ID attr="ID" title=" I D" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column attr="CoPackerId" title="CoPacker">
    <!-- o-table-cell-renderer-service attr="CoPackerId" 
        service="CoPackerFacility" entity="CoPackerFacilityType" columns="ID;Description"
        parent-keys="ID:CoPackerId"
        value-column="Description" keys="CoPackerId"
        visible-columns="Description" separator=" - " width="680px">
    </o-table-cell-renderer-service -->
</o-table-column >
            
            <o-table-column #Category attr="Category" title="Category" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column #CategoryParent attr="CategoryParent" title="CategoryParent" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #ValidFromTime attr="ValidFromTime" title="ValidFromTime" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column #ValidToTime attr="ValidToTime" title="ValidToTime" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column #CategoryChild attr="CategoryChild" title="CategoryChild" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #CHANGESET_ID attr="CHANGESET_ID" title="CHANGESET_ID" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>