<o-form-layout-manager attr="WFContact" mode="tab" title="WFCONTACT">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="WFContactTable" 
            service="WFContact" 
            entity="WFContact" 
            title="WFCONTACT"
            keys="ContactID"
            columns="ContactID;ApplicationID;CreatedDate" 
            header-actions="R;D"
            visible-columns="ContactID;ApplicationID;CreatedDate"  
            sort-columns="ContactID" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #ContactID attr="ContactID" title=" Contact I D" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column attr="ApplicationID" title="ApplicationID">
    <o-table-cell-renderer-service attr="ApplicationID" 
        service="WFApplication" entity="WFApplicationType" columns="ApplicationID;ApplicationID"
        parent-keys="ContactID:ApplicationID"
        value-column="ApplicationID" keys="ApplicationID"
        visible-columns="ApplicationID" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column #CreatedDate attr="CreatedDate" title="CreatedDate" type="DATETIME2" editable="no" required="yes" ></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>