<o-form-layout-manager attr="RoleAssigment" mode="tab" title="ROLEASSIGMENT">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="RoleAssigmentTable" 
            service="RoleAssigment" 
            entity="RoleAssigment" 
            title="ROLEASSIGMENT"
            keys="RoleAssigmentID"
            columns="RoleAssigmentID;ApplicationId;Assignee;Role;CreatedDate;CreatedBy" 
            header-actions="R;D"
            visible-columns="RoleAssigmentID;ApplicationId;Assignee;Role;CreatedDate;CreatedBy"  
            sort-columns="RoleAssigmentID" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #RoleAssigmentID attr="RoleAssigmentID" title=" Role Assigment I D" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column attr="ApplicationId" title="Application">
    <o-table-cell-renderer-service attr="ApplicationId" 
        service="WFApplication" entity="WFApplicationType" columns="ApplicationID;ApplicationID"
        parent-keys="RoleAssigmentID:ApplicationId"
        value-column="ApplicationID" keys="ApplicationId"
        visible-columns="ApplicationID" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column #Assignee attr="Assignee" title="Assignee" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column #Role attr="Role" title="Role" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column #CreatedDate attr="CreatedDate" title="CreatedDate" type="DATETIME2" editable="no" required="yes" ></o-table-column>
            
            <o-table-column #CreatedBy attr="CreatedBy" title="CreatedBy" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>