<o-form #ProcessDefinitionForm attr="ProcessDefinition_form_insert" service="ProcessDefinition" entity="ProcessDefinition"
keys="ProcessId" fxLayout="column" show-header="yes" header-actions="I"
horizontal-scroll="yes"
after-insert-mode="new" class="standalone-form-container" >

<o-row attr="row1" layout-align="start stretch">
  <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
    
        <o-text-input #ProcessName attr="ProcessName" label=" Process Name" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #ProcessVersion attr="ProcessVersion" label="ProcessVersion" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #Description attr="Description" label="Description" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-checkbox #IsActive attr="IsActive" label="IsActive" read-only="no" enabled="yes"></o-checkbox>
      
        <o-date-input #CreatedDate attr="CreatedDate" value-type="string" label="CreatedDate" editable="no" required="yes" format="YYYY-MM-DD hh:mm:ss" fxFlex="20%" class="form-field"></o-date-input>
      
        <o-text-input #CreatedBy attr="CreatedBy" label="CreatedBy" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-date-input #ModifiedDate attr="ModifiedDate" value-type="string" label="ModifiedDate" editable="no" required="no" format="YYYY-MM-DD hh:mm:ss" fxFlex="20%" class="form-field"></o-date-input>
      
        <o-text-input #ModifiedBy attr="ModifiedBy" label="ModifiedBy" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-integer-input #ProcessId attr="ProcessId" label="ProcessId" type="integer" editable="no" required="no" ></o-integer-input>
      
</div>
</o-row>

<div layout-padding></div>

</o-form>